[app:main]
use = egg:fanboi2

{% if development %}
pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_debugtoolbar
    pyramid_tm

debugtoolbar.hosts = 0.0.0.0/0
{% else %}
pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_tm
{% endif %}

jinja2.directories = fanboi2:templates
sqlalchemy.url = postgresql://{{ db_user }}:{{ db_pass }}@{{ hostvars[groups['webservers'][0]].ansible_default_ipv4.address }}:5432/{{ db_name }}
redis.url = redis://{{ hostvars[groups['webservers'][0]].ansible_default_ipv4.address }}:6379/0
akismet.key = {{ akismet_key }}

session.type = file
session.data_dir = %(here)s/tmp/session/data
session.lock_dir = %(here)s/tmp/session/lock
session.key = _session
session.httponly = true
session.secret = {{ csrf_secret }}

app.timezone = {{ timezone }}
app.secret = {{ session_secret }}

[loggers]
keys = root, fanboi2, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

{% if development %}
[logger_root]
level = INFO
handlers = console

[logger_fanboi2]
level = DEBUG
handlers =
qualname = fanboi2

[logger_sqlalchemy]
level = INFO
handlers =
qualname = sqlalchemy.engine
{% else %}
[logger_root]
level = WARN
handlers = console

[logger_fanboi2]
level = WARN
handlers =
qualname = fanboi2

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
{% endif %}

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
