{% from "partials/post.jinja2" import post_block %}
{% from "partials/helper.jinja2" import time_tag %}
{% extends "boards/layout.jinja2" %}

{% block content %}
	<div class="topics cascade">
		{% for topic in topics %}
			<article id="topic-{{ topic.obj.id }}" class="topic">
				<header>
					<div class="container">
						<h4><a href="{{ request.resource_url(topic) }}">{{ topic.obj.title }}</a></h4>
						<ul>
							<li class="posted">Last updated {{ time_tag(topic.obj.posted_at) }}</li>
							<li class="posts">{{ topic.obj.post_count }} posts</li>
						</ul>
					</div>
				</header>
			</article>
		{% else %}
			<div class="empty">
				<div class="container">
					<p>No topics, be the first to post one!</p>
					<a href="{{ request.resource_path(board, "new") }}" class="button action">Start New Topic</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
