{% from "partials/post.jinja2" import post_block %}
{% from "partials/helper.jinja2" import time_tag %}
{% extends "boards/layout.jinja2" %}

{% block content %}
<div class="topics cascade">
  {% if topics %}
    <table>
      {% for topic in topics %}
        <tr id="topic-{{ topic.obj.id }}">
          <td class="count">{{ topic.obj.post_count }} posts</td>
          <td class="title"><a href="{{ request.resource_url(topic) }}">{{ topic.obj.title }}</a></td>
          <td class="updated">Last updated {{ time_tag(topic.obj.posted_at) }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="empty">
      <p>No topics, be the first to post one!</p>
      <a href="{{ request.resource_path(board, "new") }}" class="button action">Start New Topic</a>
    </div>
  {% endif %}
</div>
{% endblock %}
