{% from "partials/post.jinja2" import post_block %}
{% from "partials/helper.jinja2" import time_tag %}
{% extends "boards/layout.jinja2" %}

{% block content %}
<div class="topics-all">
  <div class="container">
    <table>
      {% for topic in topics %}
        <tr id="topic-{{ topic.obj.id }}">
          <td class="title"><a href="{{ request.resource_url(topic) }}">{{ topic.obj.title }}</a> <span class="posts">{{ topic.obj.post_count }} posts</span></td>
          <td class="updated hidden-phone hidden-tablet">Last updated {{ time_tag(topic.obj.posted_at) }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}