{% extends "boards/layout.jinja2" %}

{% block head %}
    {% if error == "task" %}
        <meta http-equiv="refresh" content="1; url={{ request.path_qs }}">
    {% endif %}
{% endblock %}

{% block content %}
    <div id="new" class="post locked"{% if error == "task" %} data-task="{{ request.path_qs }}"{% endif %}>
        <header>
            <div class="container">
                {% if error == "task" %}
                    <h3>Posting...</h3>
                    <p>Your post is processing. Please wait...</p>
                    <p class="fineprint">Your post is in our posting queue and will be processed soon.</p>
                {% else %}
                    {% if error == "spam" %}
                        <h3>I'm sorry, Dave. I'm afraid I can't do that.</h3>
                        <p>This mission is too important for me to allow you to jeopardize it.</p>
                        <p class="fineprint">Your message has been identified as spam and therefore rejected.</p>
                    {% endif %}
                {% endif %}
            </div>
        </header>
    </div>
{% endblock %}
