{% extends "boards/layout.jinja2" %}

{% block content %}
    <div id="new" class="post locked">
        <header>
            <div class="container">
                <h3>Don't Panic.</h3>
                <p>You are posting too fast.</p>
                <p class="fineprint">Please wait {{ seconds }} seconds before retrying.</p>
            </div>
        </header>
    </div>
{% endblock %}
