{% extends "layout.jinja2" %}
{% block head %}<meta name="description" content="{{ board.description|striptags }}" />{% endblock %}

{% block leader %}
    <header class="board">
        <div class="container">
            <h2>{{ board.title }}</h2>
            <p>{{ board.description }}</p>
            <ul>
                <li{% if request.route_name == "board" %} class="active"{% endif %}><a href="{{ request.route_path("board", board=board.slug) }}"><i class="icon-th"></i> Overview</a></li>
                <li{% if request.route_name == "board_all" %} class="active"{% endif %}><a href="{{ request.route_path("board_all", board=board.slug) }}"><i class="icon-list"></i> All topics</a></li>
                <li{% if request.route_name == "board_new" %} class="active"{% endif %}><a href="{{ request.route_path("board_new", board=board.slug) }}"><i class="icon-plus"></i> New topic</a></li>
            </ul>
        </div>
    </header>
{% endblock %}
