{% from "partials/post.jinja2" import post_block %}
{% from "partials/helper.jinja2" import time_tag %}
{% extends "boards/layout.jinja2" %}

{% block content %}
<div class="topics">
  {% for topic in topics %}
    <div id="topic-{{ topic.obj.id }}" class="topic">
      <header>
        <h4><a href="{{ request.resource_path(topic) }}">{{ topic.obj.title }}</a></h4>
        <ul>
          <li>Last posted {{ time_tag(topic.obj.posted_at) }}</li>
          <li><strong>{{ topic.obj.post_count }} posts</strong></li>
        </ul>
      </header>
      <div>
        {% for post in topic.objs[-5:] %}
          {{ post_block(post) }}
        {% endfor %}
        <ul>
          <li><a href="{{ request.resource_path(topic) }}">All posts</a></li>
          <li><a href="{{ request.resource_path(topic, "recent") }}">Recent posts</a></li>
          <li><a href="{{ request.resource_path(topic, "recent") }}#reply">Reply</a></li>
        </ul>
      </div>
      <hr>
    </div>
  {% else %}
    <div class="empty">
      <p>No topics, be the first to post one!</p>
      <a href="{{ request.resource_path(board, "new") }}" class="button">Start New Topic</a>
    </div>
  {% endfor %}
</div>
{% endblock %}
