{% from "partials/post.jinja2" import post_block %}
{% from "partials/helper.jinja2" import time_tag %}
{% extends "boards/layout.jinja2" %}

{% block content %}
<div class="board-show">
  {% for topic in topics %}
    <div id="topic-{{ topic.obj.id }}" class="topic">
      <header>
        <div class="container">
          <div class="well">
            <h4><a href="{{ request.resource_path(topic) }}">{{ topic.obj.title }}</a></h4>
            <ul class="info unstyled">
              <li class="hidden-phone"><i class="icon-info-sign"></i> Last posted {{ time_tag(topic.obj.posted_at) }}</li>
              <li><i class="icon-info-sign"></i> <strong>{{ topic.obj.post_count }} posts</strong></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="posts">
        {% for post in topic.objs[-5:] %}
          {{ post_block(post) }}
        {% endfor %}
      </div>
      <footer>
        <div class="container">
          <ul class="unstyled">
            <li><a href="{{ request.resource_path(topic) }}" class="btn"><i class="icon-th-list"></i> All posts</a></li>
            <li><a href="{{ request.resource_path(topic, "recent") }}" class="btn"><i class="icon-inbox"></i> Recent posts</a></li>
            <li><a href="{{ request.resource_path(topic, "recent") }}#reply" class="btn btn-success"><i class="icon-share-alt icon-white"></i> Reply</a></li>
          </ul>
        </div>
      </footer>
      <hr>
    </div>
  {% else %}
    <div class="container">
      <div class="empty">
        <p>No topics, be the first to post one!</p>
        <a href="{{ request.resource_path(board, "new") }}" class="btn btn-primary">Start New Topic</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
