{% extends "boards/layout.jinja2" %}

{% block content %}
    <div id="new" class="post locked">
        <header>
            <div class="container">
                <h3>I'm sorry, Dave. I'm afraid I can't do that.</h3>
                <p>This mission is too important for me to allow you to jeopardize it.</p>
                <p class="fineprint">Your message has been identified as spam and therefore rejected.</p>
            </div>
        </header>
    </div>
{% endblock %}
