/* Colors
 * ------------------------------------------------------------------------ */

$color-brand:                #fc2e05;
$color-brand-dark:           #1c2123;
$color-gray-base:            #5e6b71;

$color-green:                #1fba41;
$color-red:                  #e01a1a;

/* Responsive width boundaries
 * ------------------------------------------------------------------------ */

$bound-mobile:               320px;
$bound-tablet:               640px;
$bound-desktop:              980px;

/* Typography
 * ------------------------------------------------------------------------ */

$font-size-base:             16px;
$font-size-smaller:          $font-size-base * 0.7;
$font-size-small:            $font-size-base * 0.8;
$font-size:                  $font-size-base;
$font-size-large:            $font-size-base * 1.15;
$font-size-larger:           $font-size-base * 1.3;

$font-size-content:          $font-size;
$line-height-content:        1.5;

$font-size-input:            14px;

/* Animations
 * ------------------------------------------------------------------------ */

$animation-timing:           0.08s;
$animation-function:         linear;

/* Metrics
 * ------------------------------------------------------------------------ */

$spacing-horizontal-smaller: 4px;
$spacing-horizontal-small:   6px;
$spacing-horizontal:         12px;
$spacing-horizontal-large:   18px;
$spacing-horizontal-larger:  24px;

$spacing-vertical-smaller:   4px;
$spacing-vertical-small:     6px;
$spacing-vertical:           12px;
$spacing-vertical-large:     18px;
$spacing-vertical-larger:    24px;

$spacing-vertical-input:     8px;
$spacing-horizontal-input:   8px;
