@custom-media --mobile-viewport (max-width: 639px);
@custom-media --tablet-viewport (min-width: 640px);
@custom-media --desktop-viewport (min-width: 1004px); /* 980px + 12px + 12px */

:root {
    /* Font sizes */
    --fs-base: 16px;
    --fs-xl: 1.2rem;
    --fs-l: 1.1rem;
    --fs-m: 1rem;
    --fs-s: 0.9rem;
    --fs-xs: 0.8rem;

    /* Typography */
    --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial;
    --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family: var(--font-base), sans-serif, var(--font-emoji);

    /* Line heights */
    --lh: 1.5rem;

    /* Breakpoints */
    --bp-mobile: 320px;
    --bp-tablet: 640px;
    --bp-desktop: 980px;

    /* Horizontal spacings */
    --sp-horizontal-xs: 0.2rem;
    --sp-horizontal-s: 0.7rem;
    --sp-horizontal-m: 0.9rem;
    --sp-horizontal-l: 1.2rem;
    --sp-horizontal-xl: 1.5rem;

    /* Vertical spacings */
    --sp-vertical-xs: 0.2rem;
    --sp-vertical-s: 0.7rem;
    --sp-vertical-m: 0.9rem;
    --sp-vertical-l: 1.2rem;
    --sp-vertical-xl: 1.5rem;

    /* Input */
    --sp-input-vertical: 0.5rem;
    --sp-input-horizontal: 0.5em;
    --sp-input-vertical-compact: 0.1rem;
    --sp-input-horizontal-compact: 0.5em;

    /* Post */
    --sp-post-item-horizontal: 0.2rem;
    --sp-post-item-vertical: 0;

    /* Dimensions */
    --dm-icon-height: 16px;
    --dm-icon-width: 16px;
    --dm-icon-height-tappable: 44px;
    --dm-icon-width-tappable: 44px;

    --dm-header-logo-height-container: var(--dm-icon-height-tappable);
    --dm-header-logo-height: 20px;
    --dm-header-logo-width-container: var(--dm-header-logo-width);
    --dm-header-logo-width: 63px;

    /* Misc */
    --radius: 3px;

    /* Colors */
    --color-brand: #fc2e05;
    --color-brand-dark: #152226;
    --color-primary: #1fba41;
    --color-danger: #e01a1a;
}
