/* Colors
 * ------------------------------------------------------------------------ */

$color-brand: #fc2e05;
$color-brand-dark: #152226;
$color-gray-base: #5e6b71;

$color-green: #1fba41;
$color-red: #e01a1a;

/* Responsive width boundaries
 * ------------------------------------------------------------------------ */

$bound-mobile: 320px;
$bound-tablet: 640px;
$bound-desktop: 980px;

/* Icons
 * ------------------------------------------------------------------------ */

$icon-width: 16px;
$icon-height: 16px;
$icon-tappable-width: 44px;
$icon-tappable-height: 44px;

/* Typography
 * ------------------------------------------------------------------------ */

$font-size-base: 16px;
$font-size-smaller: 0.8rem;
$font-size-small: 0.9rem;
$font-size: 1rem;
$font-size-large: 1.1rem;
$font-size-larger: 1.2rem;

$line-height: 1.5rem;

/* Animations
 * ------------------------------------------------------------------------ */

$animation-timing: 0.08s;
$animation-function: linear;

/* Metrics
 * ------------------------------------------------------------------------ */

$spacing-horizontal-smaller: 6px;
$spacing-horizontal-small: 8px;
$spacing-horizontal: 14px;
$spacing-horizontal-large: 20px;
$spacing-horizontal-larger: 26px;

$spacing-vertical-smaller: 4px;
$spacing-vertical-small: 6px;
$spacing-vertical: 12px;
$spacing-vertical-large: 18px;
$spacing-vertical-larger: 24px;

$spacing-vertical-input: 8px;
$spacing-horizontal-input: 8px;
