@import "variables";
@import "mixins";

/* API section
 * ------------------------------------------------------------------------ */

.api-section {
    padding: $spacing-vertical-larger 0;

    + .api-section {
        border-top: 1px solid;
    }
}

.api-request {
    padding: 0 0 $spacing-vertical-large;
}

.api-request-title {
    font-size: $font-size-large;
    line-height: $line-height;
    margin: 0 0 $spacing-vertical-small;
}

.api-request-name {
    font-size: $font-size-small;
    line-height: $line-height;
}

.api-request-endpoint {
    border-bottom: 1px solid;
    margin: 0 0 $spacing-vertical;
    padding: 0 0 $spacing-vertical-large;
}

.api-request-verb {
    font-size: $font-size-small;
    border-radius: 2px;
    line-height: $line-height;
    padding: $spacing-vertical-small $spacing-horizontal-small;

    &.get {
        /* Noop */
    }

    &.post {
        /* Noop */
    }
}

.api-request-body,
.api-response-body {
    margin: 0 0 (-$spacing-vertical);

    p {
        line-height: $line-height;
        margin: 0 0 $spacing-vertical;
    }

    table {
        margin: 0 0 $spacing-vertical;
    }
}

.api-response {
    padding: 0;
}

.api-response-title {
    font-size: $font-size;
    line-height: $line-height;
    margin: 0 0 $spacing-vertical-small;
}

/* API table
 * ------------------------------------------------------------------------ */

.api-table {
    border: 1px solid;
    border-bottom: none;
    display: block;
    font-size: $font-size-small;
    line-height: $line-height;
    margin: 0 0 $spacing-vertical;
    max-width: 100%;
    width: 100%;

    @media (min-width: $bound-tablet) {
        display: table;
        table-layout: fixed;
    }
}

.api-table-header {
    display: none;

    @media (min-width: $bound-tablet) {
        display: table-row-group;

        .lead {
            width: 160px;
        }
        .sublead {
            width: 80px;
        }
    }
}

.api-table-body {
    display: block;

    @media (min-width: $bound-tablet) {
        display: table-row-group;
    }
}

.api-table-row {
    display: block;
    margin: 0;
    width: 100%;

    @media (min-width: $bound-tablet) {
        display: table-row;
        width: auto;
    }
}

.api-table-item {
    border-bottom: 1px solid;
    box-sizing: border-box;
    display: block;
    line-height: $line-height;
    overflow-x: auto;
    padding: $spacing-vertical-small $spacing-horizontal-small;

    ul,
    p {
        margin: 0 0 $spacing-vertical-small;
    }

    &.title {
        line-height: $line-height;
        text-align: left;
    }

    @media (min-width: $bound-tablet) {
        display: table-cell;
        vertical-align: top;
    }
}
