@import "variables";
@import "mixins";

body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: $font-size;
    line-height: $font-size;
    min-width: $bound-mobile;
    text-rendering: optimizeLegibility;
}

/* Generic container
 * ------------------------------------------------------------------------ */

.container {
    @include clearfix;
    box-sizing: border-box;
    margin: auto;
    max-width: $bound-desktop;
    padding: 0 $spacing-horizontal;

    @media (min-width: $bound-desktop) {
        padding: 0;
    }
}

/* Generic columns
 * ------------------------------------------------------------------------ */

.cols {
    display: flex;
    flex-direction: column;

    @media (min-width: $bound-tablet) {
        flex-direction: row;
    }
}

.cols-column {
    &.sidebar {
    }

    @media (min-width: $bound-tablet) {
        &.sidebar {
            width: 200px;
            margin: 0 $spacing-horizontal 0 0;
        }
    }
}

/* Notice bar
 * ------------------------------------------------------------------------ */

.noticebar {
}

/* Site header
 * ------------------------------------------------------------------------ */

.header {
    padding: $spacing-vertical 0;
    border-bottom: 1px solid;
}

.header-brand {
    $logo-width: 97px;
    $logo-height: 20px;

    @include retina-background("logo", "png", $logo-width, $logo-height);
    font-size: $font-size;
    height: $logo-height;
    line-height: $font-size;
    margin: 0 auto;
    text-indent: -10000em;
    width: $logo-width;

    a {
        display: block;
        float: left;
        height: $logo-height;
        width: $logo-width;
    }

    @media (min-width: $bound-tablet) {
        margin: 0;
    }
}

.header-scroll-button {
    $icon-width: 20px;
    $icon-height: 20px;

    @include retina-background("arrow", "png", $icon-width, $icon-height);
    height: $icon-height;
    position: absolute;
    right: $spacing-horizontal;
    text-indent: -10000em;
    top: 0;
    width: $icon-width;

    a {
        display: block;
        float: left;
        height: $icon-height;
        width: $icon-width;
    }
}

/* Site appendix
 * ------------------------------------------------------------------------ */

.appendix {
    border-bottom: 1px solid;
    font-size: $font-size-small;
    line-height: $line-height-content;
    padding: $spacing-vertical-large 0;

    ul {
        display: block;
        list-style: none;
        margin: 0 0 0 (-$spacing-horizontal-small);
        padding: 0;
    }

    li {
        display: block;
        margin: 0 0 0 $spacing-horizontal-small;
    }
}

/* Site footer
 * ------------------------------------------------------------------------ */

.footer {
    padding: $spacing-vertical 0;

    .container {
        position: relative;
    }
}

.footer-scroll-button {
    $icon-width: 20px;
    $icon-height: 20px;

    @include retina-background("arrow_up", "png", $icon-width, $icon-height);
    top: -2px; /* To centerize with responsibility line. */
    height: $icon-height;
    position: absolute;
    right: $spacing-horizontal;
    text-indent: -10000em;
    width: $icon-width;

    a {
        display: block;
        float: left;
        height: $icon-height;
        width: $icon-width;
    }

    @media (min-width: $bound-desktop) {
        right: 0;
    }
}

.footer-lines {
    font-size: $font-size-small;
    line-height: $font-size-small;
    text-align: left;

    @media (min-width: $bound-tablet) {
        float: left;
    }
}

.footer-lines-item {
    display: block;
    margin: 0 0 $spacing-vertical-smaller;
    padding: 0;
}

.footer-links {
    display: block;
    font-size: $font-size-smaller;
    line-height: $font-size-small;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    @media (min-width: $bound-tablet) {
        float: right;
        font-size: $font-size-small;
        margin-right: 20px + $spacing-horizontal-small;
        text-align: right;
    }
}

.footer-links-item {
    display: inline;
    margin: 0 $spacing-horizontal-smaller 0 0;

    @media (min-width: $bound-tablet) {
        margin: 0 0 $spacing-vertical-smaller;
        display: block;
    }
}

/* Cascade
 * ------------------------------------------------------------------------ */

.cascade {
    padding: $spacing-vertical-large 0;
    border-bottom: 1px solid;
    position: relative;
}

.cascade-header {
    margin: 0 0 $spacing-vertical-smaller;
}

.cascade-header-link {
    &:before {
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.cascade-body {
    font-size: $font-size-small;
    line-height: $line-height-content;

    /* Calculations to make these spacing same size as $font-size-small
     * even when line-height is taken into consideration. */
    $line-height: ($font-size-small * $line-height-content);
    $diff-height: $line-height - $font-size;
    $spacing: $diff-height / 2;

    margin: 0 0 (-$spacing);

    p {
        margin: 0;
    }
}

/* Subheader
 * ------------------------------------------------------------------------ */

.subheader {
    border-bottom: 1px solid;
    padding: $spacing-vertical-larger 0;
    text-align: center;

    @media (min-width: $bound-tablet) {
        text-align: left;
    }
}

.subheader-title {
    font-size: $font-size-large;
    line-height: $font-size-large;
    margin: 0 0 $spacing-vertical-smaller;
    padding: 0;
}

.subheader-body {
    font-size: $font-size-small;
    line-height: $line-height-content;
    margin: 0 0 (-$spacing-vertical-smaller);

    p {
        margin: 0 0 $spacing-vertical-smaller 0;
    }

    &.lines {
        margin: 0;

        p {
            margin: 0;
        }
    }
}

.subheader-footer {
    margin: 0 0 (-$spacing-vertical);
    padding: $spacing-vertical 0;

    .actions-item {
        display: inline-block;
        float: none;
    }

    @media (min-width: $bound-tablet) {
        .actions-item {
            display: block;
            float: left;
            margin: 0 $spacing-horizontal-smaller 0 0;
        }
    }
}

/* Sheet
 * ------------------------------------------------------------------------ */

.sheet {
    $sheet-spacing: $spacing-vertical-large - $spacing-vertical;
    border-bottom: 1px solid;
    padding: $spacing-vertical-large 0 $sheet-spacing;
}

.sheet-title {
    font-size: $font-size-large;
    line-height: $font-size-large;
    margin: 0 0 $spacing-vertical;
}

.sheet-body {
    font-size: $font-size-content;
    line-height: $line-height-content;
    margin: 0 0 $spacing-vertical;

    ul,
    p {
        margin: 0 0 $spacing-vertical-smaller 0;
    }
}

/* Action list
 * ------------------------------------------------------------------------ */

.actions {
    @include clearfix();
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.actions-item {
    display: block;
    float: left;
}

/* Form
 * ------------------------------------------------------------------------ */

.form {
    $form-spacing: $spacing-vertical-large - $spacing-vertical;
    border-bottom: 1px solid;
    display: block;
    padding: $spacing-vertical-large 0 $form-spacing;
}

.form-item {
    margin: 0 0 $spacing-vertical;

    &.error {
    }
}

.form-item-label {
    display: block;
    font-size: $font-size-small;
    line-height: $font-size-small;
    margin: 0 0 $spacing-vertical-smaller;
}

.form-item-inline {
    font-size: $font-size-small;
    line-height: $font-size-small;
}

.form-item-error {
    display: inline-block;
    font-size: $font-size-small;
    line-height: $font-size-small;
    padding: $spacing-vertical-smaller $spacing-horizontal-smaller;
}

/* Form inputs
 * ------------------------------------------------------------------------ */

.input {
    border: 1px solid;
    box-sizing: border-box;
    line-height: normal;
    margin: 0;
    max-width: 100%;

    /* Because input would looks kinda bad without these custom styles. */
    padding: $spacing-vertical-input $spacing-horizontal-input;
    font-size: $font-size-input;

    /* Default styling reset. */
    appearance: none;       /* WebKit on mobile */
    background-color: #fff; /* Firefox on desktop */
    background-image: none; /* Firefox on mobile */
    border-radius: 0;       /* WebKit on mobile */
    outline: none;          /* WebKit on desktop */

    &.block {
        display: block;
        min-width: 100%;
        width: 100%;
    }

    &.smaller { font-size: $font-size-smaller; }
    &.small   { font-size: $font-size-small; }
    &.content { font-size: $font-size-content; }
    &.large   { font-size: $font-size-large; }
    &.larger  { font-size: $font-size-larger; }
}

textarea.input {
    line-height: $line-height-content;
}

/* Buttons
 * ------------------------------------------------------------------------ */

.button {
    border-radius: 0;
    border: 1px solid;
    box-sizing: border-box;
    display: inline-block;
    line-height: normal;
    margin: 0;
    outline: none;
    text-decoration: none;

    /* Because button would looks kinda bad without these custom styles. */
    padding: $spacing-vertical-input $spacing-horizontal-input;
    font-size: $font-size-input;

    &.default {
    }

    &.muted {
    }

    &.brand {
    }

    &.green {
    }

    &.block {
        display: block;
        text-align: center;
        width: 100%;
    }

    &.static {
    }
}

/* Code block
 * ------------------------------------------------------------------------ */

.codeblock {
    margin: 0;
    overflow-y: auto;
    padding: $spacing-vertical-small $spacing-horizontal-small;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

/* Content
 * ------------------------------------------------------------------------ */

.content {
    font-size: $font-size;
    line-height: $line-height-content;

    h1 { font-size: $font-size-larger; }
    h2 { font-size: $font-size-large; }
    h3, h4, h5 { font-size: $font-size; }

    h1, h2, h3, h4, h5, p, ul, ol {
        margin: 0 0 $spacing-vertical;
        padding: 0;
    }

    ul, ol {
        padding: 0 $spacing-horizontal-larger 0;
    }
}

/* Menu
 * ------------------------------------------------------------------------ */

.menu {
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin: 0 (-$spacing-horizontal);

    ul {
        margin: 0;
        padding: 0;
    }

    @media (min-width: $bound-tablet) {
        border-left: 1px solid;
        border-right: 1px solid;
        margin: 0;
    }
}

.menu-header {
    font-size: $font-size;
    line-height: $font-size;
    margin: 0;
    padding: $spacing-vertical $spacing-horizontal;
}

.menu-actions {
    list-style: none;
}

.menu-actions-item {
    margin: 0;
    font-size: $font-size;
    line-height: $font-size;
    border-bottom: 1px solid;

    &:last-child {
        border-bottom: none;
    }

    a {
        box-sizing: border-box;
        display: inline-block;
        padding: $spacing-vertical $spacing-horizontal;
        width: 100%;
    }
}
