@use "sass:math";
@import "variables";
@import "mixins";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: $font-size-base;
    line-height: $line-height;
    min-width: $bound-mobile;
    text-rendering: optimizeLegibility;
}

/* Generic container
 * ------------------------------------------------------------------------ */

.container {
    @include clearfix;
    box-sizing: border-box;
    margin: auto;
    max-width: $bound-desktop;
    padding: 0 $spacing-horizontal;

    @media (min-width: $bound-desktop) {
        padding: 0;
    }
}

/* Generic columns
 * ------------------------------------------------------------------------ */

.cols {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $bound-tablet) {
        flex-direction: row;
    }
}

.cols-column {
    $sidebar-width: 180px;
    overflow: hidden;
    width: 100%;

    @media (min-width: $bound-tablet) {
        &.sidebar {
            min-width: $sidebar-width;
            max-width: $sidebar-width;
            margin: 0 $spacing-horizontal 0 0;
        }
    }
}

/* Site header
 * ------------------------------------------------------------------------ */

.header {
    padding: 0;
    border-bottom: 1px solid;
}

.header-brand {
    $box-width: 63px;
    $box-height: $icon-tappable-height;
    $logo-width: 63px;
    $logo-height: 20px;

    @include svg-background("logo-white", $logo-width, $logo-height);
    font-size: $font-size;
    height: $box-height;
    line-height: $line-height;
    margin: 0 auto;
    text-indent: -10000em;
    width: $box-width;

    a {
        display: block;
        float: left;
        height: $box-height;
        width: $box-width;
    }

    @media (min-width: $bound-tablet) {
        margin: 0;
    }
}

.header-scroll-button {
    @include svg-background("arrow-down-white", $icon-width, $icon-height);
    height: $icon-tappable-height;
    position: absolute;
    right: 0;
    text-indent: -10000em;
    top: 0;
    width: $icon-tappable-width;

    a {
        display: block;
        float: left;
        height: $icon-tappable-height;
        width: $icon-tappable-width;
    }
}

/* Site appendix
 * ------------------------------------------------------------------------ */

.appendix {
    border-bottom: 1px solid;
    font-size: $font-size-small;
    line-height: $line-height;
}

.appendix-content {
    /* Take into account margins introduced by ul/p elements */
    $bottom-padding: $spacing-vertical-large - $spacing-vertical-small;
    padding: $spacing-vertical-large 0 $bottom-padding;

    ul {
        display: block;
        list-style: none;
        margin: 0 0 $spacing-vertical-small;
        padding: 0;
    }

    li {
        display: block;
        margin: 0;
    }

    p {
        margin: 0 0 $spacing-vertical-small;
    }
}

.appendix-lines {
    padding: $spacing-vertical-large 0;
    font-size: $font-size-small;
    line-height: $line-height;
    text-align: left;

    .appendix-content + & {
        padding: 0 0 $spacing-vertical-large;
    }
}

.appendix-lines-item {
    display: block;
    margin: 0;
    padding: 0;
}

/* Site footer
 * ------------------------------------------------------------------------ */

.footer {
    padding: $spacing-vertical-large 0;

    .container {
        position: relative;
    }
}

.footer-scroll-button {
    @include svg-background("arrow-up-blue", $icon-width, $icon-height);
    top: -10px; /* To centerize with responsibility line. */
    height: $icon-tappable-height;
    position: absolute;
    right: 0;
    text-indent: -10000em;
    width: $icon-tappable-width;

    a {
        display: block;
        float: left;
        height: $icon-tappable-height;
        width: $icon-tappable-width;
    }
}

.footer-links {
    display: block;
    font-size: $font-size-small;
    line-height: $line-height;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.footer-links-item {
    margin: 0;
}

/* Cascade
 * ------------------------------------------------------------------------ */

.cascade {
    padding: $spacing-vertical-large 0;
    position: relative;

    + .cascade {
        border-top: 1px solid;
    }
}

.cascade-header {
    margin: 0;
}

.cascade-header-link {
    &:before {
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.cascade-body {
    font-size: $font-size-small;
    line-height: $line-height;
    margin: 0;

    p {
        margin: 0;
    }
}

/* Sheet
 * ------------------------------------------------------------------------ */

.sheet {
    $sheet-spacing: $spacing-vertical-large - $spacing-vertical;
    border-bottom: 1px solid;
    padding: $spacing-vertical-large 0 $sheet-spacing;
}

.sheet-title {
    font-size: $font-size-large;
    line-height: $line-height;
    margin: 0 0 $spacing-vertical-smaller;
}

.sheet-body {
    font-size: $font-size;
    line-height: $line-height;
    margin: 0 0 $spacing-vertical;

    ul,
    p {
        margin: 0 0 $spacing-vertical-smaller 0;
    }
}

/* Action list
 * ------------------------------------------------------------------------ */

.actions {
    @include clearfix();
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.actions-item {
    display: block;
    float: left;
}

/* Content
 * ------------------------------------------------------------------------ */

.content {
    font-size: $font-size;
    line-height: $line-height;
    margin: $spacing-vertical-large 0;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    ul,
    ol,
    p,
    blockquote {
        margin: 0.8rem 0;
    }

    h1 {
        font-size: 1.5em;
        margin-top: 2rem;
    }

    h2 {
        font-size: 1.3em;
        margin-top: 1.7rem;
    }

    h3 {
        font-size: 1.15em;
        margin-top: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
        margin-top: 1.3rem;
    }

    h5 {
        font-size: 1rem;
        margin-top: 1.2rem;
    }

    ul,
    ol {
        padding: 0 2rem;

        ul,
        ol {
            margin: 0;
        }

        li {
            margin: 0.1rem 0 0;
        }
    }

    blockquote {
        padding: 0.3rem 2rem;
        border-left: 3px solid;
    }
}

/* Subheader
 * ------------------------------------------------------------------------ */

.subheader {
    border-bottom: 1px solid;
    padding: $spacing-vertical-larger 0;
    text-align: center;

    @media (min-width: $bound-tablet) {
        text-align: left;
    }
}

.subheader-title {
    font-size: $font-size-large;
    line-height: $line-height;
    margin: 0;
    padding: 0;
}

.subheader-body {
    font-size: $font-size-small;
    line-height: $line-height;
    margin: 0;

    p {
        margin: 0;
    }
}

.subheader-footer {
    margin: 0;
    padding: 0;

    .actions-item {
        display: inline-block;
        float: none;
    }

    @media (min-width: $bound-tablet) {
        .actions-item {
            display: block;
            float: left;
            margin: 0 $spacing-horizontal-smaller 0 0;
        }
    }

    .subheader-body + & {
        margin: $spacing-vertical 0 0;
    }
}

/* Form
 * ------------------------------------------------------------------------ */

.form {
    border-bottom: 1px solid;
    display: block;
    margin: 0;
}

.form-item {
    margin: 0;

    & + & {
        margin: $spacing-vertical 0 0;
    }

    &.error {
        /* Noop */
    }
}

.form-item-label {
    display: block;
    font-size: $font-size-small;
    line-height: $line-height;
    margin: 0;
}

.form-item-inline {
    font-size: $font-size-small;
    line-height: $line-height;
}

.form-item-error {
    display: inline-block;
    font-size: $font-size-small;
    line-height: $line-height;
    padding: $spacing-vertical-smaller $spacing-horizontal-smaller;
}

/* Form inputs
 * ------------------------------------------------------------------------ */

.input {
    border: 1px solid;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;

    /* Because input would looks kinda bad without these custom styles. */
    padding: $spacing-vertical-input $spacing-horizontal-input;
    font-size: $font-size;
    line-height: normal;

    /* Default styling reset. */
    appearance: none; /* WebKit on mobile */
    background-color: #fff; /* Firefox on desktop */
    background-image: none; /* Firefox on mobile */
    border-radius: 0; /* WebKit on mobile */
    outline: none; /* WebKit on desktop */

    &.font-monospaced {
        font-family: monospace;
    }
    &.font-smaller {
        font-size: $font-size-smaller;
    }
    &.font-small {
        font-size: $font-size-small;
    }
    &.font-content {
        font-size: $font-size;
    }
    &.font-large {
        font-size: $font-size-large;
    }
    &.font-larger {
        font-size: $font-size-larger;
    }

    &.block {
        display: block;
        max-width: 100%;
        min-width: 100%;
        resize: vertical;
        width: 100%;
    }
}

textarea.input {
    font-size: $font-size;
    line-height: $line-height;
}

/* Buttons
 * ------------------------------------------------------------------------ */

.button {
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-shadow: 0 1px 2px;

    /* Buttons are a bit special in that it rely on "normal" line-height
     * for consistency between <button> and <a> for buttons. */
    padding: $spacing-vertical-input $spacing-horizontal-input;
    font-size: $font-size-small;
    line-height: normal;

    &.default {
        /* Noop */
    }
    &.muted {
        /* Noop */
    }
    &.brand {
        /* Noop */
    }
    &.green {
        /* Noop */
    }

    &.block {
        display: block;
        text-align: center;
        width: 100%;
    }
}

/* Code block
 * ------------------------------------------------------------------------ */

.codeblock {
    font-family: monospace;
    border-radius: 3px;
    margin: 0;
    overflow-y: auto;
    padding: $spacing-vertical-small $spacing-horizontal-small;
}

/* Menu
 * ------------------------------------------------------------------------ */

.menu {
    border: 1px solid;
    border-radius: 3px;
    margin: 0;

    ul {
        margin: 0;
        padding: 0;
    }
}

.menu-header {
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
    padding: $spacing-vertical-small $spacing-horizontal;
}

.menu-actions {
    list-style: none;
}

.menu-actions-item {
    margin: 0;
    font-size: $font-size;
    line-height: $line-height;
    border-bottom: 1px solid;

    &:last-child {
        border-bottom: none;
    }

    a {
        box-sizing: border-box;
        display: inline-block;
        padding: $spacing-vertical-small $spacing-horizontal;
        width: 100%;
    }
}
