@import "variables";
@import "mixins";

/* Board agreement
 * ------------------------------------------------------------------------ */

.board-agreement {
}

.board-agreement-notice {
    font-size: $font-size-small;
    line-height: $font-size-content;

    p {
        margin: 0 0 $spacing-vertical-small;
    }
}
