@import "variables";
@import "mixins";

/* JS Button
 * ------------------------------------------------------------------------ */

.js-button-loading {
    $spinner-size: 18px;
    $edge-size: 2px;
    padding-right: ($spacing-horizontal-input * 2) + $spinner-size;
    position: relative;

    &:after {
        animation: js-button-animation 0.6s infinite linear;
        border-radius: 100%;
        border: $edge-size solid;
        content: "";
        display: block;
        height: ($spinner-size - $edge-size - $edge-size);
        margin: -($spinner-size/2) 0 0 $spacing-vertical-small;
        position: absolute;
        right: $spacing-horizontal-input;
        top: 50%;
        width: ($spinner-size - $edge-size - $edge-size);
    }
}

@keyframes js-button-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* JS Board Selector
 * ------------------------------------------------------------------------ */

.js-board-selector-wrapper {
    .container {
        position: relative;
    }
}

.js-board-selector-button {
    $icon-width: 20px;
    $icon-height: 20px;

    @include retina-background("burger", "png", $icon-width, $icon-height);
    height: $icon-height;
    left: $spacing-horizontal;
    position: absolute;
    text-indent: -10000em;
    top: 0;
    width: $icon-width;

    a {
        display: block;
        float: left;
        height: $icon-height;
        width: $icon-width;
    }

    @media (min-width: $bound-tablet) {
        left: auto;
        right: $spacing-horizontal;
    }
}

.js-board-selector {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* JS Theme Selector
 * ------------------------------------------------------------------------ */

.js-theme-selector {
}

.js-theme-selector-title {
}

.js-theme-selector-list {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.js-theme-selector-list-item {
    display: inline;
    margin: 0 0 0 $spacing-horizontal-small;
}

/* JS Popover
 * ------------------------------------------------------------------------ */

.js-popover {
    .js-board {
        .cascade {
            padding: $spacing-vertical 0;
            border-bottom: none;

            @media (min-width: $bound-desktop) {
                padding: 10px;
            }
        }
    }

    .js-topic {
        .topic-header-item:last-child {
            margin-bottom: 0;
        }

        @media (min-width: $bound-desktop) {
            .topic-header {
                padding: 10px;
            }
        }
    }

    .js-post-collection {
        @media (min-width: $bound-desktop) {
            .post {
                padding: 10px;
            }
        }
    }

    .js-post-form {
        .form {
            border-bottom: none;
        }

        @media (min-width: $bound-desktop) {
            width: $bound-tablet;

            .form {
                padding: $spacing-vertical $spacing-horizontal 0;
            }
        }
    }
}

.js-popover-inner {
    width: 100%;
    z-index: 1;

    @media (min-width: $bound-desktop) {
        width: auto;
    }
}

.js-popover-inner-title {
    @include clearfix();
    font-size: $font-size-small;
    line-height: $font-size-small;
}

.js-popover-inner-title-label {
    float: left;
    padding: $spacing-vertical $spacing-horizontal;
}

.js-popover-inner-title-dismiss {
    float: right;
    padding: $spacing-vertical $spacing-horizontal;
}
