@import "variables";
@import "mixins";

/* JS Board Selector
 * ------------------------------------------------------------------------ */

.js-board-selector {
    .container {
        position: relative;
    }
}

.js-board-selector-button {
    $icon-width: 20px;
    $icon-height: 20px;

    @include retina-background("burger", "png", $icon-width, $icon-height);
    height: $icon-height;
    left: $spacing-vertical;
    position: absolute;
    text-indent: -10000em;
    top: 0;
    width: $icon-width;

    a {
        display: block;
        float: left;
        height: $icon-height;
        width: $icon-width;
    }

    @media (min-width: $bound-tablet) {
        left: auto;
        right: 0;
    }
}

.js-board-selector-list {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* JS Inline Quote
 * ------------------------------------------------------------------------ */

.js-inline {
}

.js-inline-post {
    @media (min-width: $bound-tablet) {
        .post {
            padding: 8px;
        }
    }
}

.js-inline-topic {
    .topic-header {
        padding: 8px;
    }

    .topic-header-item:last-child {
        margin-bottom: 0;
    }
}

.js-inline-board {
    .cascade {
        padding: 8px;
    }
}