@import "variables";
@import "mixins";

/* JS Board Selector
 * ------------------------------------------------------------------------ */

.js-board-selector-wrapper {
    .container {
        position: relative;
    }
}

.js-board-selector-button {
    $icon-width: 20px;
    $icon-height: 20px;

    @include retina-background("burger", "png", $icon-width, $icon-height);
    height: $icon-height;
    left: $spacing-horizontal;
    position: absolute;
    text-indent: -10000em;
    top: 0;
    width: $icon-width;

    a {
        display: block;
        float: left;
        height: $icon-height;
        width: $icon-width;
    }

    @media (min-width: $bound-tablet) {
        left: auto;
        right: $spacing-horizontal;
    }
}

.js-board-selector {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* JS Theme Selector
 * ------------------------------------------------------------------------ */

.js-theme-selector {
}

.js-theme-selector-title {
}

.js-theme-selector-list {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.js-theme-selector-list-item {
    display: inline;
    margin: 0 0 0 $spacing-horizontal-small;
}

/* JS Inline Quote
 * ------------------------------------------------------------------------ */

.js-popover {
    .js-board {
        .cascade {
            padding: 10px;
        }
    }

    .js-topic {
        .topic-header {
            padding: 10px;
        }

        .topic-header-item:last-child {
            margin-bottom: 0;
        }
    }

    .js-post-collection {
        @media (min-width: $bound-tablet) {
            .post {
                padding: 10px;
            }
        }
    }
}

.js-popover-inner {
}
