@import "variables";
@import "mixins";

$post-item-spacing: 5px;
$post-gap-spacing: $spacing-vertical;

$thumbnail-width: 90px;
$thumbnail-height: 90px;
$thumbnail-gap-vertical: $spacing-vertical-smaller;
$thumbnail-gap-horizontal: $spacing-horizontal-smaller;
$thumbnails-margin-vertical: $spacing-vertical - $thumbnail-gap-vertical;

/* Needs rounded value otherwise whitespace calculation in .post will break. */
$post-date-size: round($font-size-small);

/* Post
 * ------------------------------------------------------------------------ */

.post {
    border-bottom: 1px solid;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;

    /* Extra padding values for date part. */
    $spacing-bottom: $post-gap-spacing + $spacing-vertical;
    padding: $post-gap-spacing 0 ($spacing-bottom + $post-date-size);

    @media (min-width: $bound-tablet) {
        padding: $post-gap-spacing 0;
    }
}

.post-header {
    @include clearfix();
    font-size: $font-size-small;
    line-height: $font-size-small;
    margin: 0 0 $spacing-vertical;
}

.post-header-item {
    display: block;
    float: left;
    margin: 0 $spacing-horizontal-small 0 0;
    padding: $post-item-spacing 0;

    &.number {
        border: 1px solid;
        cursor: pointer;
        padding: ($post-item-spacing - 1) ($post-item-spacing - 1);
    }

    &.name {
        padding: $post-item-spacing $post-item-spacing;
    }

    &.date {
        bottom: $post-gap-spacing;
        font-size: $post-date-size;
        font-style: italic;
        line-height: $post-date-size;
        padding: 0;
        position: absolute;
    }

    @media (min-width: $bound-tablet) {
        &.date {
            font-size: inherit;
            font-style: inherit;
            padding: $post-item-spacing 0;
            position: inherit;
        }
    }
}

.post-body {
    font-size: $font-size-content;
    line-height: $line-height-content;
    margin: 0 0 (-$spacing-vertical) 0;

    p {
        margin: 0 0 $spacing-vertical;
    }

    p.thumbnails {
        @include clearfix();
        margin: 0 0 $thumbnails-margin-vertical;
    }

    p.shortened {
        font-size: $font-size-small;
        font-style: italic;
        line-height: $font-size-small;
        margin: 0 0 $spacing-vertical-small;
    }

    a.anchor {
    }

    a.thumbnail {
        display: block;
        float: left;
        height: $thumbnail-height;
        margin: 0 $thumbnail-gap-vertical $thumbnail-gap-horizontal 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: $thumbnail-width;

        img {
            left: 50%;
            max-height: $thumbnail-height;
            object-fit: cover;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media (min-width: $bound-tablet) {
        p.shortened {
            margin: 0 0 $spacing-vertical-large;
        }
    }
}
