@import "variables";
@import "mixins";

/* Topic
 * ------------------------------------------------------------------------ */

.topic {
}

.topic-header {
    border-bottom: 1px solid;
    margin: 0;
    overflow-x: auto;

    /* Bottom padding needs to consider margin-bottom of .topic-header-item. */
    $bottom-spacing: $spacing-vertical-large - $spacing-vertical-small;
    padding: $spacing-vertical-large 0 $bottom-spacing;
}

.topic-header-title {
    font-size: $font-size-large;
    line-height: $font-size-large;
    margin: 0 0 $spacing-vertical-small;
}

.topic-header-item {
    font-size: $font-size-small;
    line-height: $font-size-small;
    margin: 0 0 $spacing-vertical-small;
}

.topic-subheader {
    border-bottom: 1px solid;
    font-size: $font-size-small;
    line-height: $font-size-small;

    a {
        @include clearfix();
        display: block;
        padding: $spacing-vertical 0;
    }
}

.topic-subheader-item {
    $item-spacing: 5px;

    /* Matching metrics with .post-header-items */
    display: block;
    float: left;
    margin: 0 $spacing-horizontal-small 0 0;
    padding: $item-spacing 0;

    &.number {
        border: 1px solid;
        padding: ($item-spacing - 1) ($item-spacing - 1);
    }
}

.topic-footer {
    border-bottom: 1px solid;
    margin: 0;

    $actions-vertical-spacing: $spacing-vertical-smaller;
    $footer-bottom-spacing: $spacing-vertical-large - $actions-vertical-spacing;
    padding: $spacing-vertical-large 0 $footer-bottom-spacing;

    .actions-item {
        float: none;
        margin: 0 0 $actions-vertical-spacing;
    }

    .button {
        display: block;
        width: 100%;
    }

    @media (min-width: $bound-tablet) {
        padding: $spacing-vertical-large 0;

        .actions-item {
            float: left;
            margin: 0 $spacing-horizontal-smaller 0 0;
        }

        .button {
            display: inherit;
            text-align: inherit;
            width: inherit;
        }
    }
}
