@import "../../../app/stylesheets/variables";
@import "../../../app/stylesheets/themes/variables_obsidian";

.theme-obsidian {

    /* admin.scss
     * -------------------------------------------------------------------- */

    .admin-table {
        border-color: $color-gray;
        overflow: hidden;
    }

    .admin-table-body {
        .admin-table-item {
            &.title {
                font-weight: normal;
            }
        }

        @media (min-width: $bound-tablet) {
            .admin-table-item {
                &.title {
                    background-color: $color-gray-dark;
                    border-color: $color-gray;
                }
            }
        }
    }

    .admin-table-item {
        border-color: $color-gray;

        &.title {
            color: $color-gray-light;
            border-color: $color-gray-darker;
            background-color: $color-gray-darker;
        }
    }

    .admin-cascade {
        border-color: $color-gray;
    }

    .admin-cascade-header {
        background-color: $color-gray-darker;
        border-color: $color-gray-darker;
        color: $color-gray-light;
    }

    .admin-cascade-body {
        color: $color-gray-light;
    }

    .admin-cascade-footer {
        border-color: $color-gray;
        color: $color-gray-light;
    }

    .admin-post-body {
        color: $color-text;
    }

    .admin-post-info {
        &.number {
            border-color: $color-gray-light;
            font-weight: bold;

            &.bumped {
                background-color: $color-gray-light;
                color: $color-gray-darker;
            }
        }

        &.name {
        }

        &.date {
            font-weight: bold;
        }

        &.ident {
        }

        &.ident-admin {
            font-weight: bold;
            color: $color-brand;
        }

        &.ip-address {
            font-weight: bold;
        }
    }

    .admin-embed {
        background-color: $color-gray;
    }

}
