@import "../../../app/stylesheets/variables";
@import "../../../app/stylesheets/themes/variables_topaz";

.theme-topaz {

    /* admin.scss
     * -------------------------------------------------------------------- */

    .admin-table {
        border-color: $color-tint-light;
        overflow: hidden;
    }

    .admin-table-body {
        .admin-table-item {
            &.title {
                font-weight: normal;
            }
        }

        @media (min-width: $bound-tablet) {
            .admin-table-item {
                &.title {
                    background-color: #fff;
                    border-color: $color-tint-light;
                }
            }
        }
    }

    .admin-table-item {
        border-color: $color-tint-light;

        &.title {
            color: $color-gray-dark;
            border-color: #fff;
            background-color: $color-tint-lighter;
        }
    }

    .admin-cascade {
        border-color: $color-tint-light;
    }

    .admin-cascade-header {
        background-color: $color-tint-lighter;
        border-color: $color-tint-lighter;
        color: $color-gray-dark;
    }

    .admin-cascade-body {
        color: $color-gray-dark;
    }

    .admin-cascade-footer {
        border-color: $color-tint-light;
        color: $color-gray-dark;
    }

    .admin-post-body {
        color: $color-text;
    }

    .admin-post-info {
        &.number {
            background-color: #fff;
            border-color: $color-gray-light;
            font-weight: bold;

            &.bumped {
                background-color: $color-gray;
                border-color: $color-gray;
                color: #fff;
            }
        }

        &.name {
        }

        &.date {
            font-weight: bold;
        }

        &.ident {
        }

        &.ip-address {
            font-weight: bold;
        }
    }

    .admin-embed {
        background-color: $color-tint-lighter;
    }

}
