@import "../../../app/stylesheets/variables";
@import "../../../app/stylesheets/themes/variables_topaz";

.theme-topaz {

    /* admin.scss
     * -------------------------------------------------------------------- */

    .admin-table {
        border-color: $color-tint-light;
        overflow: hidden;
    }

    .admin-table-body {
        .admin-table-item {
            &.title {
                font-weight: normal;
            }
        }

        @media (min-width: $bound-tablet) {
            .admin-table-item {
                &.title {
                    background-color: #fff;
                    border-color: $color-tint-light;
                }
            }
        }
    }

    .admin-table-item {
        border-color: $color-tint-light;

        &.title {
            color: $color-gray-dark;
            border-color: #fff;
            background-color: $color-tint-lighter;
        }
    }

    .admin-cascade {
        border-color: $color-tint-light;
    }

    .admin-cascade-header {
        font-weight: bold;
        background-color: $color-tint-lighter;
        border-color: $color-tint-lighter;
    }

    .admin-cascade-body {
        color: $color-gray-dark;
    }

    .admin-embed {
        background-color: $color-tint-lighter;
    }

}
