/** @define utilities */

/* Utility: util-pull-right
 * Pull the element to the right. */
.util-pull-right {
    float: right;
}

/* Utility: util-pull-left
 * Pull the element to the left. */
.util-pull-left {
    float: left;
}

/* Utility: util-backdrop
 * Reset the z-index of the element. */
.util-backdrop {
    z-index: 0;
}

/* Utility: util-sticky-top
 * Make the element sticky to the top of page. */
.util-sticky-top {
    position: sticky;
    top: 0;
}
