# System caches
.DS_Store
Thumbs.db

# Application runtime
static/
tmp/
*.egg-info/
*.sqlite
*.pyc
*.log
*.tmp
*.dump

# Assets
assets/app/javascripts/typings

# IDE stuff
out/
fanboi2.iml
.idea

# Testing leftovers
.coverage
.noseids

# Assets
node_modules/
results/
logs/
*.min.js

# Vagrant stuff
.vagrant
*.gz

# User settings
development.ini
alembic.ini
