# System caches
.DS_Store
Thumbs.db

# Application runtime
static/
tmp/
.eggs/
*.dump
*.egg-info/
*.env
*.log
*.pyc
*.sqlite
*.tmp
celerybeat*

# Building
*.build
*.venv

# Assets
node_modules/

# Development
!alembic.ini
*.gz
*.iml
*.ini
.coverage
.dir-locals.el
.idea
.noseids
.tool-versions
.docker-compose.override.yml
.vagrant
node_modules/
out/