# System caches
.DS_Store
Thumbs.db

# Application runtime
static/
tmp/
*.dump
*.env
*.log
*.pyc
*.sqlite
*.tmp
celerybeat*

# Building
*.egg-info/
.eggs/
dist/
setup.py

# Assets
node_modules/

# Development
!alembic.ini
*.gz
*.iml
*.ini
.coverage
.dir-locals.el
.idea
.noseids
.tool-versions
.docker-compose.override.yml
.vagrant
node_modules/
out/
