[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "puppet/modules/firewall"]
	path = puppet/modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/puppetlabs/puppet-postgresql.git
[submodule "puppet/modules/wget"]
	path = puppet/modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "puppet/modules/redis"]
	path = puppet/modules/redis
	url = https://github.com/thomasvandoren/puppet-redis.git
[submodule "puppet/modules/gcc"]
	path = puppet/modules/gcc
	url = https://github.com/puppetlabs/puppetlabs-gcc.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = https://github.com/logicalparadox/puppet-nodejs.git
