language: python
script: nosetests

python:
  - "3.5"

install:
  - 'pip install -e .'

before_script:
  - 'psql -c "create database fanboi2;" -U postgres'

env:
  - POSTGRESQL_TEST_DATABASE=postgresql://postgres@localhost:5432/fanboi2

notifications:
  email: false
