language: python

python:
  - "3.6"

install:
  - make build/.build-test

before_script:
  - psql -c "create database fanboi2;" -U postgres

script:
  - make test

env:
  - POSTGRESQL_TEST_DATABASE=postgresql://postgres@localhost:5432/fanboi2

notifications:
  email:
    recipients:
      - build@fanboi.ch
    on_success: always
    on_failure: always
