[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
coverage = "*"
nose = "*"
rednose = "*"
"flake8" = "*"
"flake8-bugbear" = "*"
pre-commit = "*"
black = "*"
honcho = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
