:root {
    --topaz-primary: #fc2e05;
    --topaz-secondary: #1f2b33;

    --topaz-success: #1fba41;
    --topaz-error: #ff0000;

    --topaz-bg: #fff;
    --topaz-white: #fff;
    --topaz-link: var(--topaz-primary);
    --topaz-link-hover: color(var(--topaz-secondary) lightness(+25%));

    --topaz-gray1: color(var(--topaz-secondary) l(+20%) s(-3%));
    --topaz-gray2: color(var(--topaz-secondary) l(+30%) s(-3%));
    --topaz-gray3: color(var(--topaz-secondary) l(+42%) s(-3%));
    --topaz-gray4: color(var(--topaz-secondary) l(+74%));
    --topaz-gray5: color(var(--topaz-secondary) l(+79%));
}
