{% extends "topics/layout.jinja2" %}

{% block content %}
    <div id="reply" class="post locked">
        <header>
            <div class="container">
                {% if topic.status == "archived" %}
                    <h3>Post limit exceeded</h3>
                    <p>Please start a new topic.</p>
                {% elif topic.status == "locked" %}
                    <h3>Topic locked</h3>
                    <p>Topic has been locked by moderator.</p>
                {% endif %}
            </div>
        </header>
    </div>
{% endblock %}
