{% extends "layout.jinja2" %}
{% from "components/container.jinja2" import render_container %}
{% from "components/divider.jinja2" import render_divider, render_divider_item %}
{% from "components/post.jinja2" import render_post, render_post_container with context %}
{% block body %}
<div class="bg-porcelain-950 dark:bg-slate-950">
    {% call render_container("pt-0") %}
        <div>
            <h2 class="text-white font-semibold dark:text-slate-300">{{ board.title }}</h2>
            <p class="text-porcelain-500 text-sm dark:text-porcelain-400">{{ board.description }}</p>
        </div>
        <div class="inline-flex items-baseline mt-2 mb-2 gap-4">
            <a href="" class="-mb-2 py-2 text-white text-sm border-b-2 border-scarlet-600 dark:text-slate-300">Recent posts</a>
            <a href="" class="-mb-2 py-2 text-white text-sm dark:text-slate-300">All posts</a>
            <a href="" class="-mb-2 py-2 text-white text-sm dark:text-slate-300">New topic</a>
        </div>
    {% endcall %}
</div>
{% call render_divider() %}
    {% for topic in topics %}
    {% call render_divider_item() %}
        {% call render_container() %}
            <h3><a href="/{{ board.slug }}/{{ topic.id }}" class="text-scarlet-600 font-semibold hover:text-porcelain-500">{{ topic.title }}</a></h3>
            <p class="text-sm text-porcelain-500 dark:text-porcelain-400">Last posted <span class="font-semibold">{{ topic.meta.bumped_at | datetime }}</span></p>
            <p class="text-sm text-porcelain-500 dark:text-porcelain-400">Total of <span class="font-semibold">{{ topic.meta.post_count }} {% if topic.meta.post_count != 1 %}posts{% else %}post{% endif %}</span></p>
        {% endcall %}
        {% call render_post_container() %}
            {% for post in topic.recent_posts(5) %}
            {{ render_post(post) }}
            {% endfor %}
        {% endcall %}
        <div class="bg-porcelain-200 dark:bg-slate-700">
            {% call render_container() %}
            <div class="inline-flex flex-col md:flex-row gap-2">
                <a class="text-sm shadow-sm px-2 py-2 rounded-sm bg-white text-porcelain-600 dark:bg-slate-600 dark:text-slate-300" href="">Recent posts</a>
                <a class="text-sm shadow-sm px-2 py-2 rounded-sm bg-white text-porcelain-600 dark:bg-slate-600 dark:text-slate-300" href="">All posts</a>
                <a class="text-sm shadow-sm px-2 py-2 rounded-sm bg-green-600 text-white" href="">Reply</a>
            </div>
            {% endcall %}
        </div>
    {% endcall %}
    {% endfor %}
{% endcall %}
{% endblock %}
