{% extends "layout.jinja2" %}

{% block leader %}
<div id="topics-layout">
  <h2>{{ topic.obj.title }}</h2>
  <ul>
    <li><a href="{{ request.resource_path(board) }}">Overview</a></li>
    <li><a href="{{ request.resource_path(board, "all") }}">All topics</a></li>
    <li><a href="{{ request.resource_path(board, "new") }}">New topic</a></li>
    <li{% if request.view_name == "" %} class="active"{% endif %}><a href="{{ request.resource_path(topic) }}">Show topic</a></li>
    <li><a href="#reply">Reply</a></li>
  </ul>
</div>
{% endblock %}
