{% from "partials/form.jinja2" import form_field, form_submit %}
{% from "partials/post.jinja2" import post_block %}
{% extends "topics/layout.jinja2" %}

{% block content %}
<div class="topic-show">
  <div class="posts">
    <div class="container">
      {% for post in posts %}
        {{ post_block(post) }}
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="well">
      <h3>Reply</h3>
      <form action="{{ request.resource_url(topic) }}" method="POST">
        {{ form_field(form.body) }}
        {{ form_submit("Post reply") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
