{% from "partials/form.jinja2" import form_field, form_submit %}
{% from "partials/post.jinja2" import post_block %}
{% extends "topics/layout.jinja2" %}

{% block content %}
<div class="topic-show">
  <div class="posts">
    <div class="container">
      {% for post in posts %}
        {{ post_block(post) }}
      {% endfor %}
    </div>
  </div>

  <div class="post-new">
    <header class="container">
      <h3>Reply</h3>
    </header>
    <form action="{{ request.resource_url(topic) }}" method="POST" class="form">
      <div class="container">
        <div class="well">
          {{ form_field(form.body) }}
          {{ form_submit("Post Reply") }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
