{% extends "topics/layout.jinja2" %}

{% block content %}
    <div id="reply" class="post locked">
        <header>
            <div class="container">
                <h3>Calm down.</h3>
                <p>How about some candy?</p>
                <p class="fineprint">Your message has been identified as spam and therefore rejected.</p>
            </div>
        </header>
    </div>
{% endblock %}
