@import "variables";
@import "mixins";

/* API table
 * ------------------------------------------------------------------------ */

.api-table {
}

.api-table-body {
    @media (min-width: $bound-tablet) {
        .table-row-header {
            width: 120px;
        }
    }
}

.api-table-header {
    @media (min-width: $bound-tablet) {
        .table-row-header {
            width: auto;
        }
    }
}

.api-table-row-type {
    @media (min-width: $bound-tablet) {
        width: 80px;
    }
}
