@import "nib"
@import "_variables"

section#main

    $header-line = 14px
    $post-padding = $vertical-gutter-width

    /* Post container in board page and topic page.
     * URL: /<slug>, /<slug>/<id>
     */
    article.post
        display block
        max-width 100%
        overflow-x auto
        padding $post-padding 0 ($post-padding - 4px)

        + article.post
            border-top 1px solid #fff

        > div.container
            $header-color = #8d9ca1

            > header
                color $header-color
                font-size 12px
                line-height $header-line
                font-weight bold

                span
                    display inline

                    + span
                        margin-left 5px

                    &.number
                        background-color $header-color
                        color #fff
                        cursor pointer
                        padding 4px 6px

                        &:hover
                            background-color darken($header-color, 25%)

                    &.name
                        background-color #fff
                        padding 4px 6px

                    &.ident
                        color #aabbc4

            > div
                color #333
                font-size $post-font-size
                line-height $post-line-height
                margin-top 15px

                p + p
                    margin-top 10px

                p.shortened
                    clear both
                    color $header-color
                    font-size 12px
                    font-style italic

                    a
                        font-weight bold

                a.anchor
                p.shortened a
                    color #0088cc

                    &:hover
                        color #005580
                        text-decoration underline

                p.thumbnails
                    clear both
                    overflow hidden

                a.thumbnail
                    $max-width = 90px
                    $max-height = 90px

                    display inline-block
                    float left
                    height $max-height
                    margin-bottom 3px
                    margin-right 3px
                    overflow hidden
                    width $max-width

                    &:last-child
                        margin-right 0
                        clear right

                    &:hover
                        opacity 0.8

                div.popover
                    background-color #f5f7f8
                    border 1px solid #fff
                    box-shadow 1px 1px 5px 0 rgba(0, 0, 0, 0.3)
                    display block
                    min-width 450px
                    max-width 80%
                    position absolute
                    width auto
                    z-index 1

                    div.popover
                        max-width none
                        width 100%

                    > article
                        padding 10px

                        + article
                            border-top 1px solid #fff

                        > div.container
                            display inline-block
                            padding-left 0
                            padding-right 0
                            width auto

                            > div
                                font-size $post-font-size - 2px
                                line-height $post-line-height - 2px

    @media (min-width: 1024px)
        article.post
            > div.container
                > div
                    div.popover
                        max-width 70%

    @media (max-width: 639px)
        article.post
            position relative
            padding-bottom 12px + $header-line + $post-padding

            > div.container
                > header
                    span.created
                        bottom $post-padding
                        font-style italic
                        font-weight normal
                        left $gutter-width
                        margin-left 0
                        position absolute

                > div
                    p.shortened
                        margin-bottom ($post-padding * -1) + 5px

                    div.popover
                        display none


    /* Post form and locked status in topic show page.
     * URL: /<slug>/<id>
     */
    .post
        padding $post-padding 0

        > header
            > div.container
                color #666

                h3
                    color $color-primary
                    font-size 18px
                    font-weight bold
                    line-height 18px
                    margin-bottom 5px

                p.fineprint
                    color #aaa
                    font-size 11px
                    margin-top 10px

        > fieldset
            div.field-body
                label
                    display none

    form.post
    div.post.locked
        background-color #fff
