@import "nib"
@import "_variables"

section#main

    /* Topic listing in board page.
     * URL: /<slug>
     */
    div.topics
        background-color #fff

        div.empty
            padding 25px 0

            p
                color #666

            a.button
                margin-top 10px

        @media (max-width: 639px)
            div.empty
                padding-bottom 35px
                padding-top 35px
                text-align center

                a.button
                    margin-top 15px


    /* Topic listing in all topics page.
     * URL: /<slug>/all
     */
    div.topics.cascade
        article.topic
            border-color #f0f0f0

            &:nth-child(1n+4)
                > header
                    h4
                        font-size 16px
                        font-weight normal
                        line-height 16px

                    ul
                        font-size 13px
                        line-height 13px
                        margin-top 6px

            &:nth-child(1n+11)
                > header
                    h4
                        font-size 14px
                        line-height 14px

            &:hover
                > header
                    background-color #f5f7f8

        @media (max-width: 639px)
            article.topic
                $chevron-width = 15px

                position relative

                > header

                    div.container
                        padding-right $gutter-width + $chevron-width + 15px

                    h4
                        a
                            &:hover
                                &:after
                                    opacity 0.5

                            &:before
                                bottom 0
                                content ''
                                left 0
                                position absolute
                                right 0
                                top 0

                            &:after
                                background-image url($chevron-path)
                                content ''
                                height $chevron-height
                                margin-top ($chevron-height/2) * -1
                                opacity 0.8
                                position absolute
                                right $gutter-width
                                top 50%
                                width $chevron-width

        /* Can't nest media queries so image mixin doesn't work :'(
         * https://github.com/LearnBoost/stylus/issues/931 */
        @media (max-width: 639px) and (-webkit-min-device-pixel-ratio: 1.5),
               (max-width: 639px) and (min--moz-device-pixel-ratio: 1.5),
               (max-width: 639px) and (-o-device-pixel-ratio: 3/2),
               (max-width: 639px) and (min-device-pixel-ratio: 1.5),
               (max-width: 639px) and (min-resolution: 1.5dppx)
            article.topic > header h4 a:after
                background-image url($chevron-path-2x)
                background-size $chevron-width $chevron-height


    /* Topic item in board page.
     * URL: /<slug>
     */
    article.topic
        background-color #f5f7f8

        > header
            background-color #fff
            padding 20px 0

            h4
                font-size 18px
                font-weight bold
                line-height 18px

            ul
                color #666
                display block
                font-size 14px
                line-height 14px
                margin-top 7px

                li
                    display block
                    margin-top 3px

                    &.posts
                        font-weight bold

                    i
                        opacity 0.6

        div.tools
            background-color #e1e4e6
            padding $vertical-gutter-width 0

            li
                a.button
                    display inline-block
                    width 100%

                    &.all
                    &.recent
                        background-color #f5f5f5
                        border-color #d0d0d0
                        color #666

                        &:hover
                            background-color #fff
                            border-color #aaa
                            color #333

                            i
                                opacity 0.8

                        i
                            opacity 0.5

                    &.reply
                        font-weight bold

                        &:hover
                            i.icon-share-alt
                                image '../icons/green/share-alt.png' 12px 10px

                    &.reload
                        &:hover
                            background-color #fff
                            border-coor #aaa
                            color #333

                            i.icon-forward
                                image '../icons/black/forward.png' 11px 11px
                                opacity 0.8

                + li
                    margin-top 2px

        + article.topic
            border-top 1px solid #d3d8db

        @media (max-width: 639px)
            div.tools
                li
                    a.button
                        i
                            width 15px

        @media (min-width: 640px)
            > header
                ul
                    li
                        display inline-block
                        margin-right 5px
                        margin-top 0

            div.tools
                li
                    display inline-block


    /* Topic header in topic page.
     * URL: /<slug>/<id>
     */
    header.topic
        h2
            max-width 100%
            overflow auto

        p
            span
                display block
                margin-top 5px

                strong
                    color #8e9ba1
                    font-weight bold

        @media (min-width: 380px)
            ul
                li
                    a[href='#reply']
                        background-color #44ba03
                        color #fff

                        i.icon-share-alt
                            opacity 1


    /* New topic form
     * URL: /<slug>/new
     */
    form.topic
        $form-spacing = 20px

        background-color #fff

        > header
            background-color #f3f5f6
            padding $form-spacing 0

            > div.container
                h3
                    color $color-primary
                    font-size 22px
                    font-weight bold
                    line-height 22px

                > article
                    color #444
                    margin 15px 0

                    ul
                        line-height 150%
                        list-style disc
                        margin-left 20px

                > div
                    color #7e949f
                    font-size 14px
                    line-height 20px

                    a.button
                        background-color #be2541
                        border-color #931d32
                        margin-top 10px

                        &:hover
                            background-color #fff
                            border-color #be2541
                            color #931d32

        > fieldset
            padding $form-spacing 0
