{% extends "layout.jinja2" %}
{% block content %}
  <div class="list-boards">
    <div class="container">
      <div class="wrapper">
        {% for board in boards %}
          <div id="board-{{ board.obj.slug }}" class="well">
            <h3><a href="{{ request.resource_url(board) }}">{{ board.obj.title }}</a></h3>
            <p class="description">This is where we should write what this board is about. But this is not implemented yet.</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
