{% extends "layout.jinja2" %}
{% block content %}
<div id="root">
  {% for board in boards %}
    <div id="board-{{ board.obj.slug }}">
      <h3><a href="{{ request.resource_path(board) }}">{{ board.obj.title }}</a></h3>
      {% if board.obj.description %}<div>{{ board.obj.description|markdown }}</div>{% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}
