{% extends "layout.jinja2" %}

{% if error == "queue" %}
    {% block head %}
        <meta http-equiv="refresh" content="1; url={{ request.url }}">
    {% endblock %}
{% endif %}

{% block content %}
    <div id="new" class="post locked">
        <header>
            <div class="container">
                {% if error == "queue" %}
                    <h3>Posting...</h3>
                    <p>Please wait while your post is processing...</p>
                    <p class="fineprint">Your post is currently processing. Please wait for a few seconds.</p>
                {% else %}
                    {% if error == "spam" %}
                        <h3>Calm down.</h3>
                        <p>How about some candy?</p>
                        <p class="fineprint">Your message has been identified as spam and therefore rejected.</p>
                    {% elif error == "archived" %}
                        <h3>Post limit exceeded</h3>
                        <p>Please start a new topic.</p>
                        <p class="fineprint">Topic has already reached maximum posts.</p>
                    {% elif error == "locked" %}
                        <h3>Topic locked</h3>
                        <p>Topic has been locked by moderator.</p>
                        <p class="fineprint">Topic has been locked by moderator due to requests.</p>
                    {% endif %}
                    <a href="{{ path }}" class="button error">Back</a>
                {% endif %}
            </div>
        </header>
    </div>
{% endblock %}
