@import "../mixins";

/** @define utilities */

@each $dir in $directions {
    @include viewport-utilities(u-pull-#{$dir}, "Pull the element to the #{$dir}") {
        float: #{$dir} !important;
    }
}

@include viewport-utilities(u-center, "Make the element center") {
    margin: auto !important;
    justify-content: center !important;
}

/* Modifier: scrollable
 * Make the element scrollable on overflow. */
.u-scrollable {
    @include scrollable;

    /* Annoying hack to stop overflow randomly clipping its content.
     * xs should be enough for shadow, border, etc. */
    padding: var(--sp-vertical-xs) var(--sp-horizontal-xs);
    margin: calc(var(--sp-vertical-xs) * -1) calc(var(--sp-horizontal-xs) * -1);
}

/* Utility: u-zindex-0
 * Reset the z-zindex-0 of the element. */
.u-zindex-0 {
    z-index: 0 !important;
}

/* Utility: u-sticky-top
 * Make the element sticky to the top of page. */
.u-sticky-top {
    position: sticky !important;
    top: 0 !important;
}
