/* Partial: ident
 * Styling for idents. */
.ident {
    /* Modifier: ident_admin
     * Ident styling for site administrator. */
    &--ident_admin {
        border-radius: var(--radius);
        border: 1px solid;
        font-weight: bold;
        padding: var(--post-gap-vertical) var(--post-gap-horizontal);
    }
}
