@import "nib"
@import "shared"


div.list-boards
  background-color site-dark
  margin-bottom 0
  padding 40px 0

  div.well
    background-color site-dark-lighter
    background-image none
    border none
    border-radius 0
    box-shadow none
    margin 0
    padding 10px 20px

    + div.well
      margin-top 5px

    h3
      font-family "Montserrat", sans-serif
      font-weight normal
      margin 0
      a
        color #ddd

    p.description
      color #738289

@media (max-width: 767px)
  div.list-boards
    margin 0 -20px
    padding 20px 20px


div.board-show
  background-color #fff
  padding 0

  div.topic
    header
      reset-well()

      padding 20px 0
      margin 0

      h4
        line-height 100%
        margin 0
        padding 0

        a
          color site-orange
          font-weight bold

          &:hover
            color #555

        + ul.unstyled
          margin-top 5px

      ul.info
        margin-bottom 0

        li
          color #666
          display inline-block
          margin-right 5px

    hr
      margin 0
      border-top-color #d3d8db

    &:last-child
      hr
        display none

@media (max-width: 767px)
  div.board-show
    margin 0 -20px
    padding 0 0

    div.topic
      header
        padding 20px
