@import "nib"

header#header
  div.navbar-inner
    a.brand
      text-indent -1000em
      width 91px

      span.logo
        background-image url(../images/logo.png)
        background-repeat no-repeat
        float left
        width 91px


footer#footer
  color #777

  p
    font-size 14px
    line-height 160%
    margin 0


@media (min-width: 980px)
  body
    padding-top 60px
