@import "nib"
@import "shared"

dark-orange = #cd2c0e


body
  background-color #333


header#header
  background site-orange
  margin-bottom 0px

  div.navbar
    margin-bottom 0

  div.navbar-inner
    background-color inherit
    background-image none
    border none
    border-radius 0
    box-shadow none

    a.brand
      padding-left 0
      text-indent -1000em
      width 91px

      span.logo
        background-repeat no-repeat
        float left
        image "../images/logo.png" 91px
        width 91px

    a.btn-navbar
      background-color #dfdfdf
      background-image linear-gradient(top, #fff, #dfdfdf)
      border 1px solid #e5310f
      border-radius 2px

      span.icon-bar
        background-color site-orange
        box-shadow none

    ul.nav
      > li
        > a
          color #ffcbc2
          font-family "Montserrat", sans-serif
          text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)

          b.caret
            border-top-color #ffcbc2
            border-bottom-color #ffcbc2

          &:focus
          &:hover
            color #fff

            b.caret
              border-top-color #fff
              border-bottom-color #fff

        &.active
          > a
          > a:hover
          > a:focus
            background-color dark-orange

      li.dropdown.open
        > .dropdown-toggle
          background-color inherit
          color #fff

      li.dropdown.active
      li.dropdown.open.active
        > .dropdown-toggle
          background-color dark-orange

@media (max-width: 979px)
  header#header
    div.navbar-inner
      padding-left 0
      padding-right 0

      a.brand
        margin-left 0

      a.btn-navbar
        margin-right 0

    ul.nav
      > li
        > a:hover
          background-color dark-orange

    div.nav-collapse
      ul.dropdown-menu
        li
          a
            color #fff

            &:hover
              background-color dark-orange
              background-image none

@media (max-width: 767px)
  header#header
    margin 0 -20px
    padding 0 20px


footer#footer
  padding 15px 0
  color #777

  p
    font-size 14px
    line-height 160%
    margin 0

    a
      color #ccc

      &:hover
        color #fff
