@import "nib"
@import "shared"


i.icon-th-list
  substitute-icon("black/th-list", 12px)

i.icon-inbox
  substitute-icon("black/inbox", 12px)

i.icon-forward
  substitute-icon("black/forward", 12px)

i.icon-info-sign
  substitute-icon("black/info-sign", 12px)

i.icon-white
  &.icon-list
    substitute-icon("white/list", 12px)

  &.icon-plus
    substitute-icon("white/plus", 11px)

  &.icon-th
    substitute-icon("white/th", 11px)

  &.icon-th-list
    substitute-icon("white/th-list", 12px)

  &.icon-th-large
    substitute-icon("white/th-large", 11px)

  &.icon-share-alt
    substitute-icon("white/share-alt", 12px)

  &.icon-home
    substitute-icon("white/home", 13px)


div.leader
  background-color site-dark
  padding 0

  h2
    color #ddd
    font-weight normal
    font-family "Montserrat", sans-serif
    line-height 100%
    margin 25px 0

  div.wrapper
    background-color site-dark-lighter
    border-top 1px solid #192428

    div.navbar
      margin-bottom 0

      div.navbar-inner
        background-color inherit
        background-image none
        border none
        border-radius 0
        box-shadow none
        padding 0

      ul.nav
        > li
          > a
            color #aaa
            text-shadow none

            &:hover
              color #fff

        > li.active
          > a
          > a:hover
            background-color #505a60
            color #fff

@media (max-width: 767px)
  div.leader
    margin 0 -20px
    padding 0 20px

    div.wrapper
      margin 0 -20px
      padding 0 20px


.btn
  background-image none
  border 1px solid #b5b5b5
  border-radius 0
  box-shadow none
  text-shadow none

  &.btn-success
    background-color #5dbc1f
    background-image none
    border-color #479017

    &:hover
      background-color #57b01d

  &.btn-primary
    background-color #006096
    background-image linear-gradient(top, #0069a4, #006096)

  &.btn-danger
    background-color #c72843
    background-image linear-gradient(top, #ba253f, #c72843)
    border-color #fff


.form
  reset-well()
  background-color #394044

  label
    color #fff
    font-size 12px
    font-weight bold
    line-height 100%

    abbr[title="Required"]
      font-weight normal
      color #ddd
      border-bottom none

  div.control-group
    &:last-child
      margin-bottom 0

  input
    border-radius 0
    box-sizing border-box
    height 30px
    width 100%

    &#title
      font-weight bold
      font-size 20px
      line-height 26px
      height 40px

  textarea
    border-radius 0
    box-sizing border-box
    height 150px
    max-width 100%
    width 100%

    &#body
      font-size post-font-size
      line-height post-line-height


div.empty
  padding 30px 0
  font-size 19px
  line-height 100%

  p:last-child
    margin-bottom 0

@media (max-width: 767px)
  div.empty
    padding-left 20px
    padding-right 20px
