@import "nib"
@import "shared"


div.leader
  background-color site-dark
  padding 0

  h2
    color #ddd
    font-weight normal
    font-family "Montserrat", sans-serif
    line-height 100%
    margin 25px 0

  div.wrapper
    background-color site-dark-lighter
    border-top 1px solid #192428

    div.navbar
      margin-bottom 0

      div.navbar-inner
        background-color inherit
        background-image none
        border none
        border-radius 0
        box-shadow none
        padding 0

      ul.nav
        > li
          > a
            color #aaa
            text-shadow none

            &:hover
              color #fff

        > li.active
          > a
          > a:hover
            background-color #505a60
            color #fff

@media (max-width: 767px)
  div.leader
    margin 0 -20px
    padding 0 20px

    div.wrapper
      margin 0 -20px
      padding 0 20px


.btn
  border 1px solid rgba(100, 100, 100, 0.3)
  border-radius 0

  &.btn-success
    background-color #52a615
    background-image linear-gradient(top, #63c919, #52a615)
