div.posts

  div.post
    background-color #f5f7f8

    + div.post
      border-top 1px solid #fff

    dl
      margin 0
      padding 20px 0

      dt
        color #8d9ca1
        margin 0

        ul
          display block
          font-size 12px

          li
            display inline-block

            &.number
              a.label
                background-color #9ba8ad
                border-radius 0
                color #fff
                margin-right 5px
                padding 3px 6px
                text-shadow none

      dd
        color #333
        font-size post-font-size
        line-height post-line-height
        margin 0

        p:last-child
          margin-bottom 0

  div.quicklinks
    background-color #e1e4e6
    padding 15px

    ul.unstyled
      margin-bottom 0
      overflow hidden

      li
        float left

        a.btn
          border-right-width 0

        &:last-child
          a.btn
            border-right-width 1px

@media (max-width: 767px)
  div.posts
    padding 0

    div.post
      padding-left 20px
      padding-right 20px

@media (max-width: 480px)
  div.posts
    div.quicklinks
      ul.unstyled
        li
          display block
          float none
          margin-bottom 5px

          a.btn
            text-align left
            border-right-width 1px
            display block
            padding 7px 15px


div.post-new
  background-color #fff

  header
    padding 15px 0

    h3
      color site-orange
      font-size 20px
      line-height 100%

  form
    reset-well()
    padding 25px 0
    margin 0

@media (max-width: 768px)
  div.post-new
    header
    form
      padding-left 20px
      padding-right 20px
