div.posts

  div.post
    background-color #f5f7f8

    + div.post
      border-top 1px solid #fff

    dl
      margin 0
      padding 20px 0

      dt
        color #8d9ca1
        margin 0

        ul
          display block
          font-size 12px

          li
            display inline-block

            &.number
              a.label
                background-color #9ba8ad
                border-radius 0
                color #fff
                margin-right 5px
                padding 3px 6px
                text-shadow none

      dd
        color #333
        font-size post-font-size
        line-height post-line-height
        margin 0

@media (max-width: 767px)
  div.posts
    padding 0

    div.post
      padding-left 20px
      padding-right 20px


div.post-new
  background-color #fff

  header
    padding 15px 0

    h3
      color site-orange
      font-size 20px
      line-height 100%

  form
    reset-well()
    padding 25px 0
    margin 0

@media (max-width: 768px)
  div.post-new
    header
    form
      padding-left 20px
      padding-right 20px
