@import "nib"
@import "shared"


div.topic-show
  padding 0

@media (max-width: 767px)
  div.topic-show
    margin 0 -20px
    padding 0 0


div.topic-new
  header
    background-color #fff
    margin 0
    padding 20px 0

    h3
      color site-orange
      margin 0
      line-height 100%

  div.agreement
    background-color #f3f5f6
    color #333
    margin 0
    padding 20px 0

    div.text
      background-color #fff
      border 1px solid #d6dde0
      margin-bottom 10px
      padding 20px

      :last-child
        margin-bottom 0

    div.back
      p
        margin 5px 0
        color #7e949f
        font-size 14px

  form
    padding 25px 0
    margin 0

@media (max-width: 767px)
  div.topic-new
    margin 0 -20px

    header
    div.agreement
    form
      padding-left 20px
      padding-right 20px
