@import "nib"
@import "shared"

form
  div#field-title
    input
      width 300px

  div#field-body
    textarea
      width 350px
      height 100px


div.topic-show
  padding 0

@media (max-width: 767px)
  div.topic-show
    margin 0 -20px
    padding 0 0
