/* Site colors */
$color-primary = #eb3a17
$color-secondary = #f6f6f4
$color-body = #404040
$color-dark = #2d3336
$color-darker = #212628
$color-dark-highlight = #738289

/* Link colors */
$color-link = $color-primary
$color-link-hover = #999

/* Metrics */
$gutter-width = 18px
