@import "nib"

i[class^="icon-"],
i[class*=" icon-"]
  background-repeat no-repeat
  display inline-block

  &.icon-home
    height 13px
    image '../icons/home.png' 13px 13px
    width 13px

  &.icon-th-large
    height 11px
    image '../icons/th-large.png' 11px 11px
    width 11px

  &.icon-th
    height 11px
    image '../icons/th.png' 11px 11px
    width 11px

  &.icon-th-list
    height 11px
    image '../icons/th-list.png' 12px 11px
    width 12px

  &.icon-plus
    height 11px
    image '../icons/plus.png' 11px 11px
    width 11px


a.button
  background-color #4e4e4e
  border 1px solid #3f3f3f
  box-sizing border-box
  color #fff
  display inline-block
  font-size 14px
  line-height 16px
  max-height 34px
  padding 8px 12px

  &:hover
    background-color #f0f0f0
    border-color #aaa
    color #555
