@import "nib"

i[class^="icon-"],
i[class*=" icon-"]
  background-repeat no-repeat
  display inline-block

  &.icon-home
    height 13px
    image '../icons/home.png' 13px 13px
    width 13px

  &.icon-th-large
    height 11px
    image '../icons/th-large.png' 11px 11px
    width 11px

  &.icon-th
    height 11px
    image '../icons/th.png' 11px 11px
    width 11px

  &.icon-th-list
    height 11px
    image '../icons/th-list.png' 12px 11px
    width 12px

  &.icon-plus
    height 11px
    image '../icons/plus.png' 11px 11px
    width 11px
