@import "nib"

i[class^="icon-"],
i[class*=" icon-"]
  background-repeat no-repeat
  display inline-block

  &.icon-home
    height 13px
    image '../icons/home.png' 13px 13px
    width 13px

  &.icon-th-large
    height 11px
    image '../icons/th-large.png' 11px 11px
    width 11px

  &.pro-chevron-right
    height 15px
    image '../icons/pro/chevron-right.png' 15px 22px
    width 22px
