@import "nib"
@import "_variables"

body
    background-color #efefef
    background-image url(../background.png)
    font-family sans-serif
    margin 0
    min-width 320px
    padding 0

    a
        color $color-link
        text-decoration none
        &:hover
            color $color-link-hover


div#container
    min-width 100%

    div.container
        padding 0 $gutter-width

    @media (min-width: 1024px)
        div.container
            margin auto
            min-width auto
            padding 0
            width 980px


header#header
    $logo-width = 91px
    $logo-height = 18px
    $container-height = 42px

    background-color $color-primary
    font-size 16px
    position relative
    line-height 16px
    padding 0

    a
        color #ffcbc2
        text-decoration none
        &:hover
            color #fff

    h1
        background-repeat no-repeat
        background-position 0 ($logo-height / 2.0)
        height $container-height
        image '../logo.png' $logo-width $logo-height
        text-indent -10000em
        width $logo-width

        a
            float left
            height $container-height
            width $logo-width

    ul
        display none

    @media (width)  /* Anything above IE8 */
        ul
            display block
            font-size 14px
            font-weight bold
            line-height 14px
            padding-bottom $vertical-gutter-width
            padding-bottom 0
            text-shadow 0 -1px 0 rgba(0, 0, 0, 0.2)

            a
                display block
                font-weight bold
                padding (($container-height - 14px) / 2.0) 0

    @media (max-width: 639px)
        min-height $container-height
        position relative

        h1
            left 50%
            margin-left ($logo-width / 2.0) * -1
            position absolute
            z-index 1

        ul
            bottom 0
            left 0
            overflow hidden
            padding 0
            position absolute
            right 0
            top 0

            li
                &.boards
                    float left

                &.bottom
                    float right

            a
                padding-left $gutter-width
                padding-right $gutter-width

                span
                    display none

    @media (min-width: 640px)
        height $container-height
        overflow hidden

        h1
            float left

        ul
            float right
            height $container-height
            line-height $container-height
            margin-left 10px

            li
                border-left 1px solid #d73213
                display block
                float left

                a
                    border-left 1px solid #ed4e2f
                    display inline-block
                    height $container-height
                    padding 0 15px

                &.active
                    border-left-color #ed4e2f

                    a
                        background-color #cd2c0e
                        border-left none
                        box-shadow 0 2px 5px 1px rgba(0, 0, 0, 0.15) inset

                    + li
                        border-left-color #b62711


nav#boards
    $nav-padding = 13px

    display none

    @media (width)  /* Anything above IE8 */
        background-color $color-dark
        display block

        ul
            font-size 14px
            height 0
            line-height 14px
            overflow hidden
            transition 0.6s
            visibility hidden
            width 100%

            li
                padding $nav-padding
                position relative

                &:hover
                    background-color #394044
                    border-radius 2px

                i
                    float left

                a
                span
                    display block
                    margin-left 20px

                a
                    font-weight bold
                    color #fff

                    &:after
                        bottom 0
                        content: ''
                        left 0
                        position absolute
                        right 0
                        top 0

                span
                    color #738289
                    font-size 12px
                    line-height 16px
                    margin-top 3px

        &.active
            ul
                display block
                padding $nav-padding 0
                visibility visible


section#main
    border-bottom 1px solid #d0d0d0

    > header
        background-color $color-darker
        padding $vertical-gutter-width 0

        h2
            color #ddd
            display block
            font-size 24px
            font-weight bold
            line-height 28px

        p
            color $color-dark-highlight
            display block
            font-size 13px
            line-height 13px
            margin-top 10px


        ul
            display block
            margin-top 15px
            overflow hidden

            li
                display inline-block

                a
                    color #aaa
                    display inline-block
                    font-size 14px
                    line-height 16px
                    margin 0 5px
                    text-decoration none

                    i
                        opacity 0.6

                    &:hover
                        color #fff

                        i
                            opacity 1

                &.active
                    a
                        color #fff

                        i
                            opacity 1

    @media (min-width: 380px)
        > header
            ul
                li
                    a
                        padding 10px

                    &.active
                        background-color $color-dark

    @media (max-width: 639px)
        > header
            h2, p
                text-align center

            ul
                text-align center


footer#footer
    color #777
    font-size 14px
    line-height 140%
    margin 15px 0

    a.top
        background-color #f9f9f9
        border-radius 2px
        line-height 100%
        float right
        padding 10px

        span
            color #666
            font-weight bold

        i
            opacity 0.7

    @media (max-width: 639px)
        font-size 11px

        a.top
            span
                display none
