.theme-topaz {
    .ident {
        &--ident_admin {
            background-color: var(--topaz-white);
            border-color: var(--topaz-white);
            color: var(--topaz-primary);
        }
    }
}
