{% macro render_divider() -%}
<div class="divide-y divide-porcelain-50 dark:divide-slate-950">
    {{ caller() }}
</div>
{%- endmacro %}

{% macro render_divider_item() -%}
<div>
    {{ caller() }}
</div>
{%- endmacro %}
