$color-gray-base:        #161b1e;
$color-gray-darker:      lighten($color-gray-base, 3.0%);
$color-gray-dark:        lighten($color-gray-base, 5.0%);
$color-gray:             lighten($color-gray-base, 8.0%);
$color-gray-light:       lighten($color-gray-base, 44.0%);
$color-gray-lighter:     lighten($color-gray-base, 80.0%);

$color-muted-base:       #293033;
$color-muted-darker:     lighten($color-muted-base, 2.0%);
$color-muted-dark:       lighten($color-muted-base, 10.0%);
$color-muted:            lighten($color-muted-base, 20.0%);
$color-muted-light:      lighten($color-muted-base, 30.0%);
$color-muted-lighter:    lighten($color-muted-base, 50.0%);

$color-background:       $color-gray-base;
$color-background-light: lighten($color-gray-base, 1.5%);
$color-text:             #cfcfcf;
