@use "sass:color";

$color-gray-base: #171d21;
$color-gray-darker: color.adjust($color-gray-base, $lightness: 1.5%);
$color-gray-dark: color.adjust($color-gray-base, $lightness: 3%, $saturation: 2%);
$color-gray: color.adjust($color-gray-base, $lightness: 10%, $saturation: 3%);
$color-gray-light: color.adjust($color-gray-base, $lightness: 40%, $saturation: 3%);
$color-gray-lighter: color.adjust($color-gray-base, $lightness: 70%, $saturation: 5%);

$color-background: $color-gray-base;
$color-button-shadow: rgba(0, 0, 0, 0.6);

$color-text: #cfcfcf;
