@use "sass:color";

$color-gray-base: #1f2b33;
$color-gray-darker: color.adjust($color-gray-base, $lightness: 20%);
$color-gray-dark: color.adjust($color-gray-base, $lightness: 30%);
$color-gray: color.adjust($color-gray-base, $lightness: 42%);
$color-gray-light: color.adjust($color-gray-base, $lightness: 74%);
$color-gray-lighter: color.adjust($color-gray-base, $lightness: 79%);

$color-background: #fff;
$color-button-shadow: color.adjust($color-gray, $lightness: 20%);

$color-text: #333;
$color-text-light: #fff;
