$color-gray-base: #1b2326;
$color-gray-darker: lighten($color-gray-base, 22%);
$color-gray-dark: lighten($color-gray-base, 33%);
$color-gray: lighten($color-gray-base, 44%);
$color-gray-light: lighten($color-gray-base, 70%);
$color-gray-lighter: lighten($color-gray-base, 80%);

$color-tint-base: #f2f5f7;
$color-tint-darker: darken($color-tint-base, 28%);
$color-tint-dark: darken($color-tint-base, 10%);
$color-tint: darken($color-tint-base, 6%);
$color-tint-light: darken($color-tint-base, 4%);
$color-tint-lighter: $color-tint-base;

$color-background: #f0f0f0;
$color-background-dark: darken($color-background, 3%);

$color-text: #333;
