/* Debug theme, for layout debugging
 * ------------------------------------------------------------------------ */

.theme-debug {
    background-color: #999;

    /* app.scss
     * -------------------------------------------------------------------- */

    .container {
        background-color: rgba(#fff, 0.65);
    }

    .noticebar {
        background-color: #9adefc;
    }

    .header {
        background-color: #114422;
    }

    .appendix {
        background-color: #964f62;
    }

    .footer {
        background-color: #669933;
    }

    .cascade {
        background-color: #ffcf68;
    }

    .subheader {
        background-color: #b686ff;
    }

    .sheet {
        background-color: #faa7ff;
    }

    .form {
        background-color: #d8ec78;
    }

    .button {
        &.primary {
            font-weight: bold;
        }
    }

    .codeblock {
        background-color: #999;
    }

    .menu {
        background-color: #e9cd36;
    }

    .menu-header {
        background-color: #e39960;
    }

    .menu-actions {
        background-color: #dc94a4;
    }

    .menu-actions-item {
        background-color: #f9c8aa;
    }


    /* api.scss
     * -------------------------------------------------------------------- */

    .api-section {
        background-color: #ffae00;
    }

    .api-request {
        background-color: #ebcb85;
    }

    .api-response {
        background-color: #ffcb5b;
    }

    .api-table {
        background-color: #c1ec4e;
    }

    .api-table-header {
        background-color: #97be2d;
    }

    /* board.scss
     * -------------------------------------------------------------------- */

    /* topic.scss
     * -------------------------------------------------------------------- */

    .topic {
        background-color: #fc695f;
    }

    .topic-header {
        background-color: #ff9783;
    }

    .topic-footer {
        background-color: #eec99a;
    }

    /* post.scss
     * -------------------------------------------------------------------- */

    .post {
        background-color: #97d9ff;
    }

    .post-header {
        background-color: #007dc4;
    }

    .post-header-item {
        background-color: rgba(#fff, 0.5);
    }

    /* js.scss
     * -------------------------------------------------------------------- */

    .js-theme-selector-list-item {
        .current {
            font-weight: bold;
        }
    }

    .js-popover-inner-title {
        background-color: #964012;
    }

    .js-popover-inner-title-label {
        background-color: #cd911a;
    }

    .js-popover-inner-title-dismiss {
        background-color: #d96532;
    }
}
