@import "../variables";
@import "variables_obsidian";

/* Obsidian theme, the dark theme
 * ------------------------------------------------------------------------ */

.theme-obsidian {
    background-color: $color-background;
    color: $color-text;

    a {
        color: $color-brand;
        text-decoration: none;

        &:hover {
            color: $color-gray-lighter;
        }
    }

    /* app.scss
     * -------------------------------------------------------------------- */

    .noticebar {
        background-color: #fff;
        color: $color-gray-dark;
        font-weight: bold;

        &.error {
            color: $color-red;
        }

        &.success {
            color: $color-green;
        }
    }

    .header {
        background-color: $color-brand;
        border-color: $color-brand;
    }

    .appendix {
        background-color: $color-gray-darker;
        border-color: $color-gray-darker;
        color: $color-gray-light;
    }

    .footer {
        color: $color-gray-light;
    }

    .cascade {
        background-color: $color-gray-dark;
        border-color: $color-gray;

        a {
            font-weight: bold;
        }
    }

    .subheader {
        background-color: $color-brand-dark;
        border-color: $color-gray-darker;
    }

    .subheader-title {
        color: $color-gray-lighter;

        a {
            color: $color-gray-lighter;
        }
    }

    .subheader-body {
        color: $color-gray-light;
    }

    .subheader-footer {
        .button {
            border-color: transparent;
            color: $color-gray-light;

            &:hover {
                color: $color-gray-lighter;
            }
        }
    }

    .sheet {
        background-color: $color-gray-dark;
        border-color: $color-gray;

        &.alternate {
            background-color: $color-gray;
        }
    }

    .sheet-title {
        color: $color-brand;
    }

    .form {
        background-color: $color-gray-dark;
        border-color: $color-gray;
    }

    .form-item {
        &.error {
            .form-item-label {
                color: $color-red;
            }

            .input {
                border-color: $color-red;
            }
        }
    }

    .form-item-label {
        color: $color-gray-light;
    }

    .form-item-inline {
        color: $color-gray-light;
        font-weight: bold;
    }

    .form-item-error {
        background-color: $color-red;
        color: #fff;
    }

    .input {
        background-color: $color-gray;
        border-color: $color-muted-dark;

        &:focus {
            border-color: $color-muted;
        }
    }

    .button {
        &.default {
            background-color: $color-muted-light;
            border-color: $color-muted-light;
            color: $color-gray-lighter;

            &:hover {
                background-color: $color-muted;
                border-color: $color-muted;
            }
        }

        &.muted {
            background-color: $color-muted;
            border-color: $color-muted;
            color: $color-gray-lighter;

            &:hover {
                background-color: $color-muted-light;
                border-color: $color-muted-light;
            }
        }

        &.brand {
            background-color: $color-brand;
            border-color: $color-brand;
            color: #fff;
        }

        &.green {
            background-color: $color-green;
            border-color: $color-green;
            color: #fff;
        }

        &.static {
            &.default:hover {
                background-color: $color-muted-light;
                border-color: $color-muted-light;
            }

            &.muted:hover {
                background-color: $color-muted;
                border-color: $color-muted;
            }

            &.brand:hover {
                background-color: $color-brand;
                color: #fff;
            }

            &.green:hover {
                background-color: $color-green;
                color: #fff;
            }
        }
    }

    .codeblock {
        background-color: $color-gray-dark;
        color: $color-gray-light;

        &.noshade {
            background: none;
        }
    }

    .content {
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $color-brand;
        }
    }

    .menu {
        background-color: $color-gray-darker;
        border-color: $color-gray;

        @media (min-width: $bound-tablet) {
            border-radius: 2px;
            overflow: hidden;
        }
    }

    .menu-header {
        color: $color-gray-light;
    }

    .menu-actions {
        background-color: $color-gray-dark;
    }

    .menu-actions-item {
        border-color: $color-gray;
    }

    /* api.scss
     * -------------------------------------------------------------------- */

    .api-request {
        background-color: $color-gray-dark;
    }

    .api-request-title {
        color: $color-brand;
    }

    .api-request-name {
        color: $color-gray-light;
    }

    .api-request-endpoint {
        color: $color-gray-lighter;
        border-color: $color-gray;
    }

    .api-request-verb {
        border-radius: 2px;
        font-weight: bold;
        color: #fff;

        &.verb-get {
            background-color: $color-green;
        }

        &.verb-post {
            background-color: $color-red;
        }
    }

    .api-response {
        background-color: $color-gray-darker;
        border-color: $color-background-light;
    }

    .api-response-title {
        color: $color-gray-light;
    }

    .api-table {
        border-color: $color-muted-dark;
    }

    .api-table-item {
        border-color: $color-muted-dark;

        &.type {
            color: $color-gray-light;
        }

        &.title {
            color: $color-gray-lighter;
            border-color: $color-muted-dark;
            background-color: $color-gray;
        }
    }

    /* board.scss
     * -------------------------------------------------------------------- */

    .board-agreement-notice {
        color: $color-gray-lighter;
    }

    /* topic.scss
     * -------------------------------------------------------------------- */

    .topic {
        background-color: $color-gray-dark;
    }

    .topic-header {
        border-color: $color-gray-dark;
    }

    .topic-subheader {
        background-color: $color-background-light;
        border-color: $color-gray-dark;

        a {
            color: $color-gray-light;

            &:hover {
                color: $color-gray-lighter;
            }
        }
    }

    .topic-subheader-item {
        &.number {
            background-color: $color-muted-dark;
            color: $color-muted-lighter;
            border-color: $color-muted-dark;
            font-weight: bold;
        }
    }

    .topic-footer {
        background-color: $color-background-light;
        border-color: $color-gray-dark;

        .button {
            &.action {
                background-color: $color-muted-dark;
                border-color: $color-muted-dark;
                color: $color-gray-lighter;

                &:hover {
                    background-color: $color-muted;
                    border-color: $color-muted;
                }
            }
        }
    }

    /* post.scss
     * -------------------------------------------------------------------- */

    .post {
        background-color: $color-gray-darker;
        border-color: $color-background-light;
    }

    .post-header {
        color: $color-muted;
        font-weight: bold;
    }

    .post-header-item {
        &.number {
            background-color: $color-gray-dark;
            border: 1px solid $color-muted-dark;
            color: $color-muted-lighter;

            &:hover {
                background-color: $color-muted-light;
                border-color: $color-muted-light;
                color: $color-muted-darker;
            }

            &.bumped {
                background-color: $color-muted-dark;
                color: $color-muted-lighter;

                &:hover {
                    background-color: $color-muted-light;
                    border-color: $color-muted-light;
                    color: $color-muted-darker;
                }
            }
        }

        &.name {
            background-color: $color-gray-dark;
            color: $color-muted-lighter;
        }

        &.date {
            font-weight: normal;
        }

        &.ident-admin {
            background-color: $color-gray-dark;
            color: $color-brand;
        }
    }

    .post-body {
        p.shortened {
            color: $color-muted;

            a.anchor {
                font-weight: bold;
            }
        }

        a.anchor {
            color: #6aa5c3;

            &:hover {
                color: $color-gray-lighter;
            }
        }

        a.thumbnail {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    /* js.scss
     * -------------------------------------------------------------------- */

    .js-button-loading {
        &.default {
            &:after {
                border-color: rgba($color-gray-lighter, 0.7);
                border-top-color: rgba($color-gray-lighter, 1);
            }
        }

        &.muted {
            &:after {
                border-color: rgba($color-gray-lighter, 0.7);
                border-top-color: rgba($color-gray-lighter, 1);
            }
        }

        &.brand {
            &:after {
                border-color: rgba(#fff, 0.7);
                border-top-color: rgba(#fff, 1);
            }
        }

        &.green {
            &:after {
                border-color: rgba(#fff, 0.7);
                border-top-color: rgba(#fff, 1);
            }
        }
    }

    .js-theme-selector-list-item {
        .current {
            font-weight: bold;
            color: $color-gray-light;
        }
    }

    .js-popover {
        .js-board {
            background-color: $color-gray-darker;
        }

        .js-topic {
            background-color: $color-gray-darker;
        }
    }

    .js-popover-inner {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
        border-color: $color-gray;
    }

    .js-popover-inner-title {
        background-color: $color-gray-darker;
    }

    .js-popover-inner-title-label {
        color: $color-gray-light;
        font-weight: bold;
    }

    .js-popover-inner-title-dismiss {
        background-color: $color-muted-dark;
        color: $color-gray-lighter;
        font-weight: bold;

        &:hover {
            background-color: $color-muted;
        }
    }
}
