user www-data;
worker_processes 4;
pid /var/run/nginx.pid;
error_log /var/log/nginx/error.log;

events {
  worker_connections 512;
}

http {
  include mime.types;
  default_type application/octet-stream;
  server_names_hash_bucket_size 64;
  types_hash_max_size 2048;
  keepalive_timeout 120;
  tcp_nodelay on;
  tcp_nopush on;
  sendfile on;

  gzip on;
  gzip_buffers 16 8k;
  gzip_comp_level 9;
  gzip_min_length 16;

  client_max_body_size 32m;

  {% if not development %}
  set_real_ip_from 204.93.240.0/24;
  set_real_ip_from 204.93.177.0/24;
  set_real_ip_from 199.27.128.0/21;
  set_real_ip_from 173.245.48.0/20;
  set_real_ip_from 103.22.200.0/22;
  set_real_ip_from 141.101.64.0/18;
  set_real_ip_from 108.162.192.0/18;
  set_real_ip_from 190.93.240.0/20;
  real_ip_header CF-Connecting-IP;
  {% endif %}

  upstream backend {
    server {{ ansible_default_ipv4.address }}:{{ app_port }};
  }

  server {
    listen 80;
    access_log /var/log/nginx/access.log combined;

    {% if ssl %}
    listen 443 ssl;
    ssl_certificate /etc/nginx/certs/cert.crt;
    ssl_certificate_key /etc/nginx/certs/cert.key;
    {% endif %}

    location /static {
      alias {{ static }};
      {% if not development %}
      expires max;
      {% endif %}
    }

    location / {
      include uwsgi_params;
      uwsgi_pass backend;
      expires 0;

      include /etc/nginx/location.d/*.conf;
    }
  }

  server {
    listen 127.0.0.1:80;
    server_name 127.0.0.1;
    location /nginx_status {
      stub_status on;
      allow 127.0.0.1;
      deny all;
    }
  }

  include /etc/nginx/conf.d/*.conf;
}
