{% macro form_field(field) %}
<div>
  <label for="{{ field.id }}">{{ field.label.text }}
  {% if field.flags.required %}<abbr title="Required">*</abbr></label>{% endif %}
  <div>
    {{ field }}
    {% if field.errors %}<span>{{ field.errors[0] }}</span>{% endif %}
  </div>
</div>
{% endmacro %}

{% macro form_submit(label) %}
<div>
  <button type="submit">{{ label }}</button>
</div>
{% endmacro %}
