{% from "partials/helper.jinja2" import time_tag %}

{% macro post_block(post, shorten=False) %}
    <article id="post-{{ post.id }}" class="post post-{{ post.number }}">
        <div class="container">
            <header>
                <span class="number">{{ post.number }}</span>
                <span class="name">{{ post.name }}</span>
                <span class="created">Posted {{ time_tag(post.created_at) }}</span>
                {% if post.ident %}<span class="ident">ID:{{ post.ident }}</span>{% endif %}
            </header>
            <div>{{ post|formatpost(shorten) }}</div>
        </div>
    </article>
{% endmacro %}
