{% macro post_block(post) %}
<div id="post-{{ post.obj.id }}" class="post">
  <dl id="p{{ post.obj.number }}">
    <dt>
      <ul class="unstyled">
        <li class="number"><a class="label">{{ post.obj.number }}</a></li>
        <li class="created">Posted {{ post.obj.created_at }}</li>
      </ul>
    </dt>
    <dd>{{ post.obj.body }}</dd>
  </dl>
</div>
{% endmacro %}
