@import "../mixins";

/** @define list */

/* Block: list
 * Formats a list without bullet points. */
.list {
    margin: 0;
    padding: 0;

    /* Element: item
     * Represent each item in a list. */
    &__item {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
