[uwsgi]
virtualenv = {{ virtualenv }}
wsgi-file = {{ base }}/fanboi2.wsgi
uid = {{ user }}
gid = {{ user }}
socket = {{ ansible_default_ipv4.address }}:{{ app_port }}
max-requests = 1000
{% if development %}
python-autoreload = 3
{% else %}
cheaper = {{ min_workers }}
workers = {{ max_workers }}
cheaper-initial = {{ min_workers }}
cheaper-algo = busyness
cheaper-step = 1
{% endif %}
